.fen{
    width: 100%;
    height: 70px;
}
.lei{
    width: 90%;
    height: 70px;
    margin-left: 5%;
    line-height: 80px;
}
.lei span{
    font-size: 25px;
    color: #888;
}
.dan{
    width: 100%;
    height: 80px;
    background-color: #fff;
}
.bian{
    width: 90%;
    height: 80px;
    line-height: 80px;
}
.bian input{
    width: 90%;
    margin-left: 5%;
    height: 50px;
    font-size: 33.6px;
}
.miao{
    width: 100%;
    height: 70px;
}
.shu{
    width: 90%;
    height: 70px;
    margin-left: 5%;
    line-height: 80px;
}
.shu span{
    font-size: 25px;
    color: #888;
}

.text{
    width: 100%;
    background-color: #fff;
}
.txt{
    width: 90%;
    margin-left: 5%;
}
.txt textarea{
    font-size: 33.6px;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
}
.foot{
    width: 50%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
}
.foot span{
    font-size:36px;
    color: red;
}
.foot2{
    width: 50%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
}
.foot2{
    font-size: 36px;
}
