.header{
    width: 100%;
    height: 120px;
    background-color: #097f7e;
}
.head{
    width: 90%;
    height: 120px;
    margin-left: 5%;
}
.zuo{
    width: 85%;
    height: 120px;
    float: left;
}
.zuo input{
    width: 95%;
    height: 80px;
    margin-top: 20px;
    border-radius:10px;
    font-size: 36px;
    background-color: #099898;
    padding-left: 20px;
}
.you{
    width: 15%;
    height: 120px;
    float: left;
}
.you button{
    width: 100%;
    height: 120px;
    background-color:#097f7e;
    color: #fff;
    font-size: 43.2px;
    line-height: 120px;
    text-align: center;
}


/**tab栏**/
.tabPanel .ul{
    height:99px;
    background-color: #097f7e;
    margin-top: -3px;
    width: 100%;
}
.tabPanel .ul li{
    float:left;
    font-size:40px;
    width: 20%;
    margin-left: 4%;
    height:96px;
    line-height:96px;
    text-align:center;
    cursor:pointer;
    color: #fff;
}
.hit{
    color: #ffae00 !important;
    border-bottom: 8px solid #ffae00;
}
.pane{
    display:none;
}
/*内容*/
.xin{
    width: 100%;
    height: 72px;
    line-height: 72px;
   text-align: center;
}
.xin span{
    font-size: 28.8px;
    color: #888;
}
.he {
    width: 95%;
    margin-left:2.5%;
    background-color: #fff;
    border-radius: 10px;
}
.top{
    width: 100%;
    height: 96px;
}
.jiu{
    width: 15%;
    height: 84px;
    float: left;
    background-color: #097f7e;
    text-align: center;
    margin-top: 10px;
}
.can{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.can span{
    font-size: 30px;
    color: #fff;
}
.hh{
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
}
.hh span{
    font-size:45px;
    color: #fff;
}
.hao{
    width: 82.5%;
    height: 96px;
    float: left;
    line-height: 96px;
    text-align: right;
}
.hao span{
    font-size:33.6px;
    color: #333;
}

.name{
    width: 95%;
    height: 144px;
    margin-left: 2.5%;
    border-bottom:2px dashed  #EAEAEA;
}
.sex{
    width: 25%;
    height: 144px;
    line-height: 144px;
    float: left;
}
.sex span{
    font-size: 48px;
    font-weight: bolder;
    color: #353535;
}
.tel{
    width: 40%;
    height: 144px;
    line-height: 144px;
    text-align: center;
    float: left;
}
.tel span{
    font-size:38.4px;
    color: #097f7e;
}
.tu {
    width: 20%;
    height: 144px;
    float: left;
}
.ttu{
    width: 100%;
    height: 84px;
    margin-top: 30px;
    border-right: 1.2px solid #EAEAEA;
    line-height: 84px;
    text-align: center;
}
.tu img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}
.zw{
    width: 12%;
    height: 144px;
    float: left;
    margin-left: 3%;
}
.wei{
    width: 100%;
    height: 72px;
    line-height: 72px;
    text-align: center;
}
.wei span{
    font-size:36px;
    color: #097f7e;
}
.hha{
    width: 100%;
    height: 72px;
    line-height: 72px;
    text-align: center;
}
.hha span{
    font-size: 43.2px;
    color: #097f7e;
    font-weight: bolder;
}





/* navMenu */
.pp{
    width: 95%;
    height: 84px;
    margin-left: 2.5%;
}
.zz{
    width: 50%;
    height: 84px;
    float: left;
    line-height: 84px;
}
.zz span{
    font-size: 43.2px;
    color: #888;
}
.yy{
    width: 49%;
    height: 84px;
    float: left;
    line-height: 84px;
    text-align: right;
}
.yy span{
    font-size: 33.6px;
    color: #097f7e;
}
.navMenu>li>ul.sub-menu, .navMenu>li>ul.sub-menu>li>ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
}
.navMenu>li>ul.sub-menu li{
    background: none;
    margin: 0px;
    padding: 0px;
}
.navMenu>li>ul.sub-menu li>a{
    display: block;
    font-size: 33.6px;
    line-height: 36px;
    color: #000;
    clear: both;
}

.hee{
    width: 95%;
    min-height: 60px;
    margin-left: 2.5%;
}
.cai{
    width: 60%;
    height: 60px;
    line-height: 60px;
    float: left;
}
.cai span{
    font-size: 33.6px;
    color: #353535;
}
.ll{
    width: 20%;
    height: 60px;
    line-height: 60px;

    float: left;
}
.ll span{
    font-size: 33.6px;
    color: #888;
}
.qian2{
    width: 19%;
    height: 60px;
    line-height: 60px;
    float: left;
    text-align: right;
}
.qian2 span{
    font-size:40px;
    color: #353535;
}
.xiao{
    width: 95%;
    height: 96px;
    margin-left:2.5%;
    border-bottom: 2px dashed  #EAEAEA;
}
.ji{
    width: 50%;
    height: 96px;
    float: left;
    line-height: 96px;
}
.ji span{
    font-size: 38.4px;
    color: #000;
    font-weight: bolder;
}
.qqian{
    width:49%;
    height: 96px;
    float: left;
    line-height: 96px;
    text-align: right;
}
.qqian span{
    font-size: 38.4px;
    color: #000;
    font-weight: bolder;
}

.fen{
    width: 95%;
    height: 144px;
    margin-left: 2.5%;
    border-bottom: 2px dashed #EAEAEA;
}
.ttop{
    width: 100%;
    height: 72px;
    /*margin-left: 1%;*/
}
.fen2{
    width: 85%;
    height: 72px;
    line-height: 72px;
    float: left;
}
.fen2 span{
    font-size:36px;
    font-weight: normal;
    color: #888;
}
.jj{
    width: 14%;
    height: 72px;
    float: left;
    line-height: 72px;
    text-align: right;
}
.jj span{
    font-size: 36px;
    color: #888;
}

.ben{
    width: 95%;
    height: 96px;
    margin-left: 2.5%;
    border-bottom: 2.4px solid #888;
}
.dan{
    width: 40%;
    height: 96px;
    line-height: 96px;
    float: left;
}
.dan span{
    font-size: 38.4px;
    font-weight: bolder;
}
.zai{
    width: 40%;
    height: 96px;
    line-height: 96px;
    float: left;
}
.zai span{
    font-size: 28.8px;
    color: #888;
    font-weight: normal;
}
.kk{
    width: 19%;
    height: 96px;
    line-height: 96px;
    text-align: right;
    float: left;
}
.kk span{
    font-size: 48px;
    color: #ffae00;
    font-weight: bolder;
}

.bz{
    width: 95%;
    height: 96px;
    margin-left: 2.5%;
    border-bottom: 2px dashed #EAEAEA;
}
.bb{
    width: 13%;
    height: 96px;
    line-height: 96px;
    float: left;
}
.bb span{
    font-size: 36px;
}
.int{
    width: 87%;
    height: 96px;
    line-height: 96px;
    float: left;
}
.int span{
    font-size: 36px;
    color: #888;
}


.xd{
    width: 95%;
    height: 144px;
    margin-left: 2.5%;
}
.dd{
    width: 55%;
    height: 144px;
    line-height: 144px;
    float: left;
}
.dd span{
    font-size: 36px;
    color: #888;
}
.q{
    width: 20%;
    height: 144px;
    float: left;
}
.qx{
    width: 85%;
    height: 90px;
    border: 3px solid #ffae00;
    margin-top: 27px;
    margin-left: 15%;
    border-radius: 7.2px;
    line-height: 100px;
    text-align: center;
}
.qx button{
    font-size: 33.6px;
    color: #ffae00;
    background-color: #fff;
}
.ren{
    width: 25%;
    height: 130px;
    float: left;
}
.qr{
    width: 80%;
    height: 90px;
    border: 3px solid #ffae00;
    margin-top: 27px;
    margin-left: 20%;
    border-radius: 7.2px;
    line-height: 100px;
    text-align: center;
    background-color: #ffae00;
}
.qr button{
    font-size: 33.6px;
    color: #fff;
    background-color: #ffae00;
}



.footer{
    width: 100%;
    height: 110px;
    border-top: 1.2px solid #DEDEDE;
    background-color: #F7F6FB;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
}
.foot{
    width: 50%;
    height: 110px;
    float: left;
}
.ftu{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.ftu img{
    width: 65px;
    height: 65px;
    vertical-align: middle;
}
.de{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.de span{
    font-size: 25px;
    color: #097f7e;
}



.foot2{
    width: 50%;
    height: 110px;
    float: left;
}
.ftu2{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.ftu2 img{
    width: 65px;
    height: 65px;
    vertical-align: middle;
}
.de2{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.de2 span{
    font-size: 25px;
    color: #888888;
}
