body{
    background-color: #FCF8F5;
}
.header{
    width: 100%;
    /*height: 360px;*/
    background-color: #fff;
    margin-top: 30px;
}
.name{
    width: 90%;
    height: 120px;
    margin-left: 5%;
    border-bottom: 1.2px solid #DEDEDE;
}
.ming{
    width: 20%;
    height: 100px;
    margin-top: 10px;
    border-right: 1.2px solid #DEDEDE;
    text-align: center;
    line-height: 100px;
    float: left;
}
.ming span{
    font-size: 33.6px;
}
.zi{
    width: 80%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.zi span{
    font-size: 33.6px;
    font-weight: bolder;
    margin-left: 50px;
}




.phone{
    width: 90%;
    height: 120px;
    margin-left: 5%;
    border-bottom: 1.2px solid #DEDEDE;
}
.dian{
    width: 20%;
    height: 100px;
    margin-top: 10px;
    border-right: 1.2px solid #DEDEDE;
    text-align: center;
    line-height: 100px;
    float: left;
}
.dian span{
    font-size: 33.6px;
}
.hao{
    width: 80%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.hao span{
    font-size: 33.6px;
    font-weight: bolder;
    margin-left: 50px;
}



.mi{
    width: 90%;
    height: 120px;
    margin-left: 5%;
    border-bottom: 1.2px solid #DEDEDE;
}
.ma{
    width: 20%;
    height: 100px;
    margin-top: 10px;
    border-right: 1.2px solid #DEDEDE;
    text-align: center;
    line-height: 100px;
    float: left;
}
.ma span{
    font-size: 33.6px;
}
.text2{
    width: 80%;
    height: 120px;
    float: left;
}
.text2 input{
    width: 60%;
    height: 84px;
    font-size: 35px;
    margin-top: 18px;
    float: left;
    padding-left: 50px;
}
#sp2{
    float: left;
    width: 40%;
    height: 84px;
    line-height: 84px;
    font-size: 30px;
    margin-top: 18px;
    color:red;
}


.footer{
    width: 100%;
    height: 120px;
    line-height: 140px;
    background-color: #097f7e;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.footer button{
    background-color: #097f7e;
    font-size: 43.2px;
    color: #fff;
}