.header{
    width: 100%;
    height: 510px;
    background-color: #fff;
}
.head{
    width: 90%;
    height: 560px;
    margin-left: 5%;
}
.top{
    width: 100%;
    height: 120px;
    border-bottom: 1.2px solid #DEDEDE;
}
.shang{
    width: 17%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.shang span{
    font-size: 33.6px;
    color: #000;
    font-weight: bolder;
}
.fu{
    width: 3%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.fu span{
    color: red;
    font-size: 33.6px;
}
.zi{
    width: 80%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.zi input{
    width:100%;
    height: 100px;
    font-size: 33.6px;
    text-align: right;
    color: #555;
    padding-right: 50px;
}
.center{
    width: 100%;
    height:270px;
    border-bottom: 1.2px solid #DEDEDE;
}
.ttop{
    width: 100%;
    height: 150px;
}
.zuo{
    width: 80%;
    height: 150px;
    float: left;
}
.she{
    width: 100%;
    height: 75px;
    line-height: 90px;
}
.she span{
    color: #000;
    font-size: 33.6px;
    font-weight: bolder;
}
.tu{
    width: 100%;
    height: 75px;
}
.tu span{
    color: #C7C7C7;
    font-size:30px;
}
.you{
    width: 20%;
    height: 150px;
    float: left;
}
.tupian{
    width:90%;
    height: 120px;
    margin-left: 10%;
    margin-top: 15px;
    text-align: center;
    line-height: 120px;
    border: 1px solid #DEDEDE;
    background-color: #FAFAFA;
}
.you img{
    width: 100px;
    height: 100px;
    vertical-align: middle;
}
.xia{
    width: 100%;
    height: 120px;
}
.fen{
    width: 17%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.fen span{
    color: #000;
    font-size: 33.6px;
    font-weight: bolder;
}
.dan{
    width: 75%;
    height: 120px;
    line-height: 120px;
    text-align: right;
    float: left;
}
.dan span{
    font-size: 33.6px;
}
.jian{
    width: 5%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    float: left;
}
.jian img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.bot{
    width: 100%;
    height: 120px;
}
.miao{
    width: 20%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.miao span{
    font-size: 33.6px;
    font-weight: bolder;
}
.nei{
    width: 75%;
    height: 120px;
    line-height: 120px;
    text-align: right;
    float: left;
}
.nei span{
    font-size: 33.6px;
    color: #C7C7C7;
}
.di{
    width: 100%;
    height: 360px;
    background-color: #fff;
    margin-top: 24px;
}
.ddi{
    width: 90%;
    height: 360px;
    margin-left: 5%;
    border-bottom: 1.2px solid #DEDEDE;
}
.dis{
    width: 100%;
    height: 120px;
    border-bottom:1.2px solid #DEDEDE;
}
.jia{
    width: 10%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.jia span{
    font-size: 33.6px;
    font-weight: bolder;
}
.tian{
    width: 87%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.tian input{
    width: 100%;
    height: 100px;
    text-align: right;
    font-size: 33.6px;
    padding-right: 50px;
}
.diz{
    width: 100%;
    height: 120px;
    border-bottom: 1.2px solid #DEDEDE;
}
.yuan{
    width: 20%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.yuan span{
    font-size: 33.6px;
    font-weight: bolder;
}
.yj{
    width: 80%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.yj input{
    width: 100%;
    height: 100px;
    text-align: right;
    font-size: 33.6px;
    padding-right: 50px;
}
.did{
    width: 100%;
    height: 120px;
}
.wei{
    width: 20%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.wei span{
    font-size: 33.6px;
    font-weight: bolder;
}
.xuan{
    width: 80%;
    height: 120px;
    float: left;
    text-align: right;
}
.rr{
    width: 180px;
    height: 100px;
    font-size: 33.6px;
    margin-right: 50px;
}

.footer{
     width: 100%;
     height: 120px;
     border-top: 1.2px solid #DEDEDE;
     position: fixed;
     bottom: 0;
 }
.foot{
    width: 50%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    float: left;
    background-color: #fff;
}
.foot span{
    font-size: 33.6px;
}
.foot2{
    width: 50%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    float: left;
    background-color: #097f7e;
}
.foot2 span{
    font-size: 33.6px;
    color: #fff;
}


.text{
    width: 100%;
    background-color: #fff;
}
.txt{
    width: 90%;
    margin-left: 5%;
}
.txt textarea{
    font-size: 33.6px;
    margin-top: 50px;
}
.footer3{
    width: 100%;
    height: 100px;
    /*position: fixed;*/
    /*bottom: 0;*/
    margin-top: 24px;
    line-height: 100px;
    text-align: center;
}
.fot3{
    width: 50%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
    border: 1.2px solid #DEDEDE;
    background-color: #097f7e;
}
.fot3 span a{
    font-size: 33.6px;
    color: #fff;
}
.foot3{
    width: 50%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
    background-color: #097f7e;
}
.foot3 span{
    font-size: 33.6px;
    color: #fff;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index:1001;
    -moz-opacity: 0.6;
    opacity:.60;
    filter: alpha(opacity=60);
}
.white_content {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EAEAEA;
    z-index:1002;
    overflow: auto;
}