<include file="Layout/headerys"/>
</head>
<body>
<article class="page-container">
<form class="form form-horizontal" id="form-admin-add" action="{:U('Admin/Seat/edit')}" method="post" enctype="multipart/form-data">
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="{$data.0.mingch}" placeholder="" id="" name="mingch">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否发布：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <foreach name="data" item="vo">
            <if condition="$vo.zhuangt eq 1 ">
                    是&nbsp;&nbsp;
            <input type="radio" value="1" name="zhuangt" checked="checked">
                    否&nbsp;&nbsp;
            <input type="radio" value="2" name="zhuangt">
            <else/> 
                    是&nbsp;&nbsp;
            <input type="radio" value="1" name="zhuangt">
                    否&nbsp;&nbsp;
            <input type="radio" value="2" name="zhuangt" checked="checked">
            </if>
            </foreach>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>座位类别：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <!-- 类别列表 -->
            <foreach name="rescaipinlb" item="volb">
                <!-- 单条信息 -->
                <foreach name="data" item="vodt">
                    <if condition="$volb['id'] eq $vodt['seat_type']">
                    <input type="radio" name="seat_type" value="{$volb.id}" checked="checked" > {$volb.mingch} &nbsp;&nbsp;&nbsp;
                    <else/>
                    <input type="radio" name="seat_type" value="{$volb.id}"> {$volb.mingch} &nbsp;&nbsp;&nbsp;
                    </if>
                </foreach>
            </foreach>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>座位人数：</label>
        <div class="formControls col-xs-8 col-sm-9">
        <!-- 最低人数实际 -->
        <input type="hidden" value="{$data.0.zuoweiren_kai}" class="yiczdrenn">
            <!-- 最低人数 -->
            <select name="zuoweiren_kai" class="select" style="width: 15%;" id="zuoweiren_kai">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6" >6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
                --

        <!-- 最高人数实际 -->
        <input type="hidden" value="{$data.0.zuoweiren_zhong}" class="zuigaoren">
            <!-- 最高人数 -->
            <select name="zuoweiren_zhong" class="select" style="width: 15%;" id="zuoweiren_zhong">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="20以上">20以上</option>
            </select>
        </div>
    </div>
    <!-- 菜品id -->
    <input type="hidden" value="{$data.0.id}" name='id'>
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
            <button onclick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
        </div>
    </div>
</form>
</article>
<script>
    //页面加载事件
    $(document).ready(function(){
        // 实际最低人数
        var sjzdr = $(".yiczdrenn").val();
        // 遍历所有最低人数
        $("#zuoweiren_kai option").each(function(){
            // 判断 最低人数与实际 最低人数 是否相等
            if ($(this).html() == sjzdr) {
                $(this).attr("selected",true);
            }
        });
        // 实际最高人数
        var zuigaoren = $(".zuigaoren").val();
        // 遍历所有最低人数
        $("#zuoweiren_zhong option").each(function(){
            // 判断 最低人数与实际 最低人数 是否相等
            if ($(this).html() == zuigaoren) {
                $(this).attr("selected",true);
            }
        });
    });
</script>
<include file="Layout/footer"/>