
<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 42.4px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>快点—智慧餐厅</title>
    <link rel="icon" href="__PUBLIC__/home/img/logo1.png">
    <link rel="stylesheet" href="__PUBLIC__/home/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/base-index.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/base2.css">
    <script src="__PUBLIC__/home/js/flexible.js"></script>
    <script src="__PUBLIC__/home/js/jquery-1.12.4.js"></script>
    <script>
        $(function(){
            $(window).scroll(function() {
                if($(window).scrollTop()>470){
                    $(".nav").addClass("fixedNav");
                }else{
                    $(".nav").removeClass("fixedNav");
                }
            });
        });
    </script>
    <style>
        .fixedNav {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            z-index: 100000;
            _position: absolute;
            _top: expression(eval(document.documentElement.scrollTop));
        }

    </style>
</head>
<div style="font-size: 12px">
    <!--头部-->
    <header>
        <div class="head">
            <div class="city">
                <div class="cs">
                    <span>
                        石家庄
                    </span>
                </div>
                
                <div class="xl">
                    <img src="__PUBLIC__/home/img/jiantou2.png" alt="">
                </div>
            </div>


            <div class="lookup">
                <div class="look">
                    <div class="sou">
                        <img src="__PUBLIC__/home/img/loogup.png" alt="">
                    </div>

                    <div class="tet">
                        <input type="text" placeholder="搜索商品或商家">
                    </div>
                </div>
            </div>


            <div class="person">
                <div class="tx">
                    <img src="__PUBLIC__/{$user_photo}" alt="">
                </div>
            </div>
        </div>
    </header>

    <!--轮播图-->
    <div class="banner">
        <iframe name="toppage" width=100% height=100% marginwidth=0 marginheight=0 frameborder="no" border="0" src="{:U('Home/Index/banner')}" ></iframe>
    </div>


    <!--中间分类-->
    <section class="nav">
        <dl class="retrie">
            <dt>
                <a id="area" href="javascript:;">全部</a>
                <a id="wage" href="javascript:;">附近</a>
                <a id="zhi" href="javascript:;">智能</a>
            </dt>
            <dd class="area">
                <ul class="slide downlist">
                    <foreach name="resmdlx" item="vomdlx">
                    <li><a href="#">{$vomdlx.mingch}</a></li>
                    </foreach>
                </ul>
            </dd>
            <dd class="wage">
                <ul class="slide downlist">
                    <li><a href="#">600m</a></li>
                    <li><a href="#">700m</a></li>
                    <li><a href="#">800m</a></li>
                    <li><a href="#">900m</a></li>
                    <li><a href="#">1000m</a></li>
                    <li><a href="#">1100m</a></li>
                    <li><a href="#">1200m</a></li>
                    <li><a href="#">1300m</a></li>
                    <li><a href="#">1400m</a></li>
                    <li><a href="#">1500m</a></li>
                    <li><a href="#">1600m</a></li>
                    <li><a href="#">6666m</a></li>
                </ul>
            </dd>
            <dd class="zhi">
                <ul class="slide downlist">
                    <li><a href="#">。。。</a></li>
                    <li><a href="#">。。。</a></li>
                    <li><a href="#">。。。</a></li>
                    <li><a href="#">。。。</a></li>
                    <li><a href="#">。。。</a></li>
                    <li><a href="#">。。。</a></li>
                    <li><a href="#">。。。</a></li>
                    <li><a href="#">。。。</a></li>
                    <li><a href="#">。。。</a></li>
                    <li><a href="#">。。。</a></li>
                    <li><a href="#">。。。</a></li>
                    <li><a href="#">。。。</a></li>
                </ul>
            </dd>
        </dl>
    </section>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.retrie dt a').click(function(){
                var $t=$(this);
                if($t.hasClass('up')){
                    $(".retrie dt a").removeClass('up');
                    $('.downlist').hide();
                    $('.mask').hide();
                }else{
                    $(".retrie dt a").removeClass('up');
                    $('.downlist').hide();
                    $t.addClass('up');
                    $('.downlist').eq($(".retrie dt a").index($(this)[0])).show();
                    $('.mask').show();
                }
            });
            $(".area ul li a:contains('"+$('#area').text()+"')").addClass('selected');
            $(".wage ul li a:contains('"+$('#wage').text()+"')").addClass('selected');
            $(".zhi ul li a:contains('"+$('#zhi').text()+"')").addClass('selected');
        });
    </script>



    <!--中间商品部分-->
    <foreach name="res" item="vores" key="k">
    <a href="{:U('Home/Index/detail',array('shopid'=>$vores[id]))}">
        <div class="shangpin">
            <div class="hezi">
                <div class="hz">
                    <div class="top">
                        <div class="tu">
                            <img src="__PUBLIC__/{$vores.logo}" alt="">
                        </div>

                        <div class="you">
                            <div class="top1">
                                <div class="name">
                                    <span>{$vores.mingch}</span>
                                </div>
                            </div>


                            <div class="center">
                                <div class="xing">
                                <!-- 实心星数量 -->
                                <for start="0" end="$vores.shixinxing">
                                    <img src="__PUBLIC__/home/img/quanstart.png" style="width:13%;" alt="">
                                
                                </for>
                                <!-- 判断半个 星星 -->
                        <if condition="$vores.bangexing eq 1">
                            <img src="__PUBLIC__/home/img/ban.png" style="width:13%;" alt="">
                        <else />
                            
                        </if>
                                <!-- 空心星数量 -->
                                <for start="0" end="$vores.kongxinxing">
                                    <img src="__PUBLIC__/home/img/wu.png" style="width:13%;" alt="">
                                
                                </for>
                                    
                                </div>




                                <div class="juli">
                                    <span>666m</span>
                                </div>
                            </div>

                            <div class="ttop">
                                <div class="lei">
                                    <span>{$vores.lbname}</span>
                                </div>

                                <div class="fuhao">
                                    <span>￥</span>
                                </div>

                                <div class="qian">
                                    <span>{$vores.maney}</span>
                                </div>

                                <div class="wei">
                                    <span>/位</span>
                                </div>

                                <div class="quan">
                                    <img src="__PUBLIC__/home/img/quan2.png" alt="">
                                </div>

                                <div class="dian">
                                    <img src="__PUBLIC__/home/img/dian.png" alt="">
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="xia">

                    <div class="bot">
                        <div class="tui">
                            <img src="__PUBLIC__/home/img/tuiguang.png" alt="">
                        </div>

                        <div class="jia">
                            <span>已发起微众代言</span>
                        </div>

                        <div class="red">
                            <span>{$vores.zuigaolij}</span>
                        </div>

                        <div class="bai">
                            <span>%</span>
                        </div>
                    </div>

                    <div class="xia2">
                        <div class="zzuo">
                            <img src="__PUBLIC__/home/img/jinri.png" alt="">
                        </div>

                        <div class="yyou">
                            <div class="xuan">
                                <img src="__PUBLIC__/home/img/dingzuo.png" alt="">
                            </div>

                            <div class="ke">
                                <span>今日可订座</span>
                            </div>

                            <div class="renshu">
                                <span>{$vores.id|zuoweishu=###}</span>
                            </div>

                            <div class="zhuo">
                                <span>桌</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </a>
    </foreach>





    <!--底部-->
    <div class="foott">
        <div class="foot">
            <div class="ttu">
                <img src="__PUBLIC__/home/img/shangjia.png" alt="">
            </div>

            <div class="shou">
                <span>首页</span>
            </div>
        </div>

        <a href=" ">
            <div class="foot">
                <div class="ttu">
                    <img src="__PUBLIC__/home/img/diangdan.png" alt="">
                </div>

                <div class="shou">
                    <span>订单</span>
                </div>
            </div>
        </a>

        <div class="foot">
            <div class="ttu">
                <img src="__PUBLIC__/home/img/geren.png" alt="">
            </div>

            <div class="shou">
                <span>我的</span>
            </div>
        </div>

    </div>
    <div class="kong"></div>
    </body>
</html>