<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 42.4px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>我的</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/text.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/person.css">
</head>
<body style="font-size: 12px">
<div class="header">
    <div class="top">
        <div class="kong">

        </div>

        <div class="person">
            <a href="#">
                <!-- <img src="images/person.jpg" alt=""> -->
                <if condition="$user_info.photo eq 'NULL'">
                <img src="__PUBLIC__/{$user_info.photo}" alt="">
                <else />
                <img src="__PUBLIC__/{$user_info.photo}" alt="">
                </if>  
            </a>
        </div>

        <div class="shezhi">
            <a href="#">
                <img src="__PUBLIC__/home/img/shezhi.png" alt="">
            </a>
        </div>
    </div>

    <div class="mingzi">
    <if condition="$uid gt 0">
        <div class="name">
                <span>{$user_info.nick_name}</span>
        </div>

    <else />
        <a href="{:U('Home/Login/index')}">
            <div class="name">
                    <span>注册/登录</span>
            </div>

        </a>

    </if>
        <div class="phone">
        <if condition="$uid lt 1">
            <span></span>
        <else />    
            <span>{$user_info.tel}</span>
        </if>    
        </div>
    </div>
</div>

<div class="money">
    <div class="pp">
        <div class="zuo">
            <div class="qian">
            <if condition="$user_info.money lt 1">
                <span>￥0.00</span>
            <else />
                <span>￥{$user_info.money}</span>
            </if>
            </div>

            <div class="zhang">
                <span>账户余额</span>
            </div>
        </div>

        <div class="right">
            <div class="qian2">
            <if condition="$user_info.toal_income lt 1">
                <span>￥0.00</span>
            <else />
                <span>￥{$user_info.total_income}</span>
            </if>
            </div>

            <div class="ru">
                <span>代言收入</span>
            </div>
        </div>
    </div>
</div>

<!-- <a href="mydingdan.html"> -->
<if condition="$uid lt 1">
<a href="{:U('Home/Login/index')}">
<else />
<a href="{:U('Home/Order/order_info')}">
</if>
    <div class="all">
        <div class="tu">
            <img src="__PUBLIC__/home/img/dinagdan.png" alt="">
        </div>

        <div class="quan">
            <span>全部订单</span>
        </div>

        <div class="you">
                <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
            <!-- </a> -->
        </div>
    </div>
</a>

<div class="di">
    <if condition="$uid lt 1">
    <a href="{:U('Home/Login/index')}">
    <else />
    <a href="#">
    </if>
        <div class="qq">
            <div class="tu2">
                <img src="__PUBLIC__/home/img/dianping.png" alt="">
            </div>

            <div class="wo">
                <span>我的点评</span>
            </div>

            <div class="you2">
                <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
            </div>
        </div>
    </a>
    <if condition="$uid lt 1">
    <a href="{:U('Home/Login/index')}">
    <else />
    <a href="#">
    </if>
        <div class="qq2">
            <div class="tu3">
                <img src="__PUBLIC__/home/img/xin.png" alt="">
            </div>

            <div class="shou">
                <span>收藏</span>
            </div>

            <div class="you3">
                <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
            </div>
        </div>
    </a>
    <if condition="$uid lt 1">
    <a href="{:U('Home/Login/index')}">
    <else />
    <a href="#">
    </if>
        <div class="qq3">
            <div class="tu4">
                <img src="__PUBLIC__/home/img/tui.png" alt="">
            </div>

            <div class="tui1">
                <span>推广商家</span>
                <span class="wei">微众代言</span>
            </div>

            <div class="you4">
                <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
            </div>
        </div>
    </a>
</div>

<!-- <a href="../商家版/商家移动端后台/index.html"> -->
    <div class="all">
        <div class="tu">
            <img src="__PUBLIC__/home/img/woshi.png" alt="">
        </div>

        <div class="quan">
            <span>我是商家</span>
        </div>

        <div class="you">
            <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
        </div>
    </div>
<!-- </a> -->
<!-- 退出 -->
<if condition="$uid gt 0">
<a href="{:U('Home/Person/tc')}">
    <div class="all" id="tc">
        <div class="tu">
            <img src="__PUBLIC__/home/img/woshi.png" alt="">
        </div>

        <div class="quan">
            <span>退出</span>
        </div>
    </div>
</a>
<else />
</if>
<!--底部-->
<div class="foott">
    <a href="{:U('Home/Index/index')}">
        <div class="foot">
            <div class="tupian6">
                <img src="__PUBLIC__/home/img/shangjia.png" alt="">
            </div>

            <div class="shouye">
                <span>首页</span>
            </div>
        </div>
    </a>

    <a href="{:U('Home/Order/order_info')}">
        <div class="foot">
            <div class="tupian6">
                <img src="__PUBLIC__/home/img/diangdan.png" alt="">
            </div>

            <div class="shouye">
                <span>订单</span>
            </div>
        </div>
    </a>

    <div class="foot">
        <div class="tupian6">
            <img src="__PUBLIC__/home/img/geren.png" alt="">
        </div>

        <div class="shouye">
            <span>我的</span>
        </div>
    </div>

</div>
</body>

</html>