.head{
    width: 100%;
    height: 564px;
    background-color: #097f7e;
}
.top{
    width: 100%;
    height: 50%;
}
.topz{
    width: 50%;
    height: 100%;
    float: left;
}
.ttop{
    width: 80%;
    margin-left: 10%;
    height: 50%;
    line-height:180px;
}
.ttop span{
    font-size: 40.8px;
    font-weight: normal;
    color: #ffffff;
}
.ttop2{
    width: 80%;
    margin-left: 10%;
    height: 50%;
    line-height:100px;
}
.ttop2 span{
    font-size: 60px;
    font-weight: bolder;
    color: #ffffff;
}
.topy{
    width: 50%;
    height: 100%;
    float: left;
}
.he{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    text-align: right;
}
.kuang{
    width: 192px;
    height: 96px;
    border: 2.4px solid #ffffff;
    border-radius: 7.2px;
    margin-top:93px;
    float: left;
    line-height: 96px;
    text-align: center;
    margin-left: 198px;
}
.kuang span{
    font-size: 38.4px;
    color:white;
}

.center{
    width: 100%;
    height: 25%;
    border-bottom: 1.2px solid white;
    border-top: 1.2px solid white;
}
.center2{
    width: 100%;
    height: 25%;
}
.hezi{
    width: 95%;
    height: 100%;
    margin-left: 5%;
}
.tu{
    width: 10%;
    height: 100%;
    line-height:141px;
    float:left;
}
.tu img{
    width: 72px;
    height: 72px;
    vertical-align: middle;
}
.cha{
    width: 80%;
    height: 100%;
    line-height: 141px;
    float: left;
}
.cha span{
    font-size: 40.8px;
    color: #ffffff;
}
.jian{
    width: 10%;
    height: 100%;
    line-height: 141px;
    text-align: center;
    float: left;
}
.jian img{
    width: 36px;
    height: 36px;
    vertical-align: middle;
}
.cha2{
    width: 30%;
    height: 100%;
    line-height: 141px;
    float: left;
}
.cha2 span{
    font-size: 40.8px;
    color: #ffffff;
}
.jie{
    width: 50%;
    height: 100%;
    line-height: 141px;
    float: left;
}
.jie span{
    font-size: 33.6px;
    color: #afbab9;
}


.jinri{
    width: 100%;
    height: 264px;
    background-color: white;
    margin-top: 24px;
}
.ss{
    width: 97%;
    height: 96px;
    margin-left: 1.5%;
    background-color:#adeded ;
}
.jin{
    width: 40%;
    height: 96px;
    line-height: 96px;
    float: left;
}
.jin span{
    font-size: 38.4px;
    color: #353535;
    font-weight: bolder;
    margin-left:32px;
}
.time{
    width: 45%;
    height: 96px;
    line-height: 96px;
    float: left;
}
.time span{
    font-size: 33.6px;
    color: #888888;
}
.ming{
    width: 10%;
    height: 96px;
    line-height: 96px;
    float: left;
}
.ming span{
    font-size: 33.6px;
    color: #888888;
}
.jian6{
    width: 5%;
    height: 96px;
    line-height: 96px;
    text-align: center;
    float: left;
}
.jian6 img{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.xx{
    width: 100%;
    height: 168px;
}
.xxhe{
    width: 33.33%;
    height: 168px;
    float: left;
}
.hes{
    width: 100%;
    height: 68px;
    line-height: 68px;
    text-align: center;
}
.hes span{
    font-size: 33.6px;
    color: #888888;
}
.hex{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.hex span{
    font-size: 38.4px;
    color: #5b5b5b;
}



.hes2{
    width: 100%;
    height: 68px;
    line-height: 68px;
    text-align: center;
}
.hes2 span{
    font-size: 33.6px;
    color: #353535;
    font-weight: bolder;
}
.hex2{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.hex2 span{
    font-size: 38.4px;
    color: #ffae00;
    font-weight: bolder;
}

.big{
    width: 100%;
    height: 120px;
    margin-top: 24px;
    background-color: white;
}
.li{
    width: 97%;
    height: 120px;
    margin-left: 1.5%;
    border-bottom: 1.2px solid #DEDEDE;
}
.shi{
    width: 60%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.shi span{
    font-size: 38.4px;
    color: #353535;
    margin-left:24px;
}
.all{
    width: 35%;
    height: 120px;
    line-height: 120px;
    text-align: right;
    float: left;
}
.all span{
    font-size: 28px;
    color: #888888;
}
.jian3{
    width: 5%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    float: left;
}
.jian3 img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.shijian{
    width: 100%;
    height: 120px;
    background-color: white;
}
.shijian2{
    width: 97%;
    height: 120px;
    margin-left: 1.5%;
    border-bottom: 1.2px solid #DEDEDE;
}
.time2{
    width: 60%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.time2 span{
    font-size: 33.6px;
    color: #888888;
    margin-left: 24px;
}
.shu{
    width: 35%;
    height: 120px;
    line-height: 120px;
    text-align: right;
    float: left;
}
.shu span{
    font-size: 38.4px;
    color: #353535;
}