<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 42.4px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>我的订单</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/text.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/my%20dingdan.css">
</head>
<body style="font-size: 12px">
<div class="tab" js-tab="1">
    <div class="tab-title">
        <a href="javascript:;" class="item item-cur">订单</a>
        <a href="javascript:;" class="item">订座</a>
    </div>
    <div class="tab-cont">
        <ul class="tab-cont__wrap">
            <li class="item">
                <div class="tab">
                    <ul class="tabs2">
                        <li><a href="#">全部</a></li>
                        <li><a href="#">待支付</a></li>
                        <li><a href="#">待使用</a></li>
                        <li><a href="#">已使用</a></li>
                        <!-- <li><a href="#">待评价</a></li> -->
                        <li><a href="#">退款单</a></li>
                    </ul>
                    <!-- / tabs -->
                    <div class="tab_content">
                        <div class="tabs_item">
                            <foreach name="order_res" item="res">

                                <!-- <a href="dingdanxiangqing.html"> -->


                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$res.shopname}</span>
                                            </div>

                                            <div class="qu">
                                            <if condition="$res.order_status eq 1 || $res.order_status eq 5">
                                                <span class="qqx" data-id="{$res.id}">取消订单</span>
                                            <elseif condition="$res.order_status eq 12"/> 
                                            <div class="wenben">
                                                <span>去点评</span>
                                            </div>   
                                   <!--          <elseif condition="$res.order_status eq 15"/>
                                                <span>去评价</span> -->
                                            <else />
                                                <span></span>   
                                            </if>     
                                            <!-- <span></span> -->
                                            </div>
                                        </div>
                                    <if condition="$res.order_status eq 1">
                                        <a href="{:U('Home/Order/pay_again', array('order_id' => $res['id']))}" style="text-decoration:none">
                                    <else />
                                        <a href="{:U('Home/Order/dingdanxiangqing', array('order_id' => $res['id']))}" style="text-decoration:none">                          
                                    </if>
                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$res.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$res.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$res.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dai">
                                                <div class="yong">
                                                <if condition="$res.order_status eq 1 ">
                                                    <span>待支付</span>
                                                <elseif condition="$res.order_status eq 5"/>
                                                    <span>待使用</span>
                                                    <elseif condition="$res.order_status eq 10"/>
                                                    <span>已使用</span>
                                                    <elseif condition="$res.order_status eq 12"/>
                                                    <span>已完成</span>                                                    
                                                    <elseif condition="$res.order_status eq 15"/>
                                                    <span>已完成</span>
                                                    <elseif condition="$res.order_status eq 20"/>
                                                    <span>退款单</span>
                                                    <else />
                                                    <span>已使用</span>
                                                </if>
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>

                                            </div>
                                            <!-- </a>     -->

                                        </div>
                                    </a>

                                    </div>
                            </foreach> 

                        </div>   

                        <div class="tabs_item hezi3">
                            <foreach name="order_n" item="resn">

                                <!-- <a href="dingdanxiangqing.html"> -->
                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$resn.shopname}</span>
                                            </div>

                                            <div class="qu">
                                                <span class="qqx" data-id="{$resn.id}">取消订单</span>
                                            </div>
                                        </div>
                                    <a href="{:U('Home/Order/pay_again', array('order_id' => $res['id']))}" style="text-decoration:none">

                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$resn.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$resn.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$resn.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dai">
                                                <div class="yong">
                                                    <span>待支付</span>
                                                    
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>
                                            </div>
                                            </a>
                                        </div>
                                    </a>

                                    </div>
                            </foreach>    

                        </div>

                        <div class="tabs_item hezi3">
                            <foreach name="order_s" item="ress">
                                <!-- <a href="dingdanxiangqing.html"> -->
                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$ress.shopname}</span>
                                            </div>

                                            <div class="qu">
                                                <span class="qqx" data-id="{$ress.id}">取消订单</span>
                                                <span></span>
                                            </div>
                                        </div>
                                    <a href="{:U('Home/Order/dingdanxiangqing', array('order_id' => $ress['id']))}" style="text-decoration:none">

                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$ress.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$ress.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$ress.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dai">
                                                <div class="yong">
                                                <span>待使用</span>
                                                <!-- <if condition="$ress.order_status eq 1 ">
                                                    <span>未支付</span>
                                                <elseif condition="$ress.order_status eq 5 "/>
                                                    <span>已支付</span>   
                                                <elseif condition="$ress.order_status eq 10 "/>
                                                    <span>已支付</span>
                                                <elseif condition="$ress.order_status eq 15 "/>
                                                    <span>已支付</span>
                                                <elseif condition="$ress.order_status eq 20 "/>
                                                    <span>已取消</span>
                                                <else/>
                                                    <span></span>
                                                </if> -->
                                                    
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>
                                            </div>
                                            <!-- </a> -->
                                        </div>
                                    </a>

                                    </div>
                            </foreach> 

                        </div>

                        <div class="tabs_item hezi3">
                           <foreach name="order_u" item="resu">
                                <!-- <a href="dingdanxiangqing.html"> -->
                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$resu.shopname}</span>
                                            </div>

                                            <div class="qu">
                                            <if condition="$resu.order_status eq 12 ">
                                            <div class="wenben">
                                                <span>去点评</span>
                                                
                                            </div>
                                            <else />
                                                <span></span>
                                            </if>
                                            </div>
                                        </div>
                                        <a href="{:U('Home/Order/dingdanxiangqing', array('order_id' => $resu['id']))}" style="text-decoration:none">

                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$resu.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$resu.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$resu.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dai">
                                                <div class="yong">
                                                <if condition="$resu.order_status eq 10 ">
                                                    <span>待商家确认</span>
                                                <elseif condition="$resu.order_status eq 11 "/>
                                                    <span>制作中</span>
                                                <elseif condition="$resu.order_status eq 12 "/>
                                                    <span>已完成</span>
                                                <else/>
                                                    <span></span>
                                                </if>
                                                    <!-- <span>已使用</span> -->
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>
                                            </div>
                                            <!-- </a> -->
                                        </div>
                                        </a>

                                    </div>
                            </foreach> 

                        </div>
<!-- 
                        <div class="tabs_item hezi3">
                            <foreach name="order_p" item="resp">
                                <a href="{:U('Home/Order/dingdanxiangqing', array('order_id' => $resp['id']))}" style="text-decoration:none">
                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$resp.shopname}</span>
                                            </div>

                                            <div class="qu">
                                                <span></span>
                                            </div>
                                        </div>

                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$resp.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$resp.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$resp.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dai">
                                                <div class="yong">
                                               
                                                    <span>待评价</span>
                                                    
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </foreach> 
                        </div>
 -->
                        <div class="tabs_item hezi3">
                            <foreach name="order_x" item="resx">
                                <!-- <a href="dingdanxiangqing.html"> -->
                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$resx.shopname}</span>
                                            </div>

                                            <div class="qu">
                                                <span></span>
                                            </div>
                                        </div>
                                        <a href="{:U('Home/Order/dingdanxiangqing', array('order_id' => $resx['id']))}" style="text-decoration:none">

                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$resx.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$resx.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$resx.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dai">
                                                <div class="yong">
                                                    <span>退款单</span>
                                                
                                                    <!-- <if condition="$resx.is_use eq 1 "> -->
                                                    <!-- <else> -->
                                                    <!-- <span>未使用</span> -->
                                                    <!-- </if> -->
                                                    
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>
                                            </div>
                                            <!-- </a> -->
                                        </div>
                                        </a>

                                    </div>
                            </foreach>
                        </div>

                    </div>

                </div>
                <script src='__PUBLIC__/home/js/jquery.js'></script>
                <script>
                    $(document).ready(function() {

                        (function ($) {
                            $('.tab ul.tabs2').addClass('active').find('> li:eq(0)').addClass('current');

                            $('.tab ul.tabs2 li a').click(function (g) {
                                var tab = $(this).closest('.tab'),
                                        index = $(this).closest('li').index();

                                tab.find('ul.tabs2 > li').removeClass('current');
                                $(this).closest('li').addClass('current');

                                tab.find('.tab_content').find('div.tabs_item').not('div.tabs_item:eq(' + index + ')').slideUp();
                                tab.find('.tab_content').find('div.tabs_item:eq(' + index + ')').slideDown();

                                g.preventDefault();
                            } );
                        })(jQuery);

                    });
                </script>
            </li>

            <li class="item">
                Cont2
            </li>
        </ul>
    </div>
</div>


<script src="__PUBLIC__/home/js/jquery-1.12.4.min.js"></script>
<script src="__PUBLIC__/home/js/jquery-1.12.4.js"></script>
<script src="__PUBLIC__/home/js/tab.js"></script>
<script>
    $(function () {

        /**
         =========== 参数说明 ============
         curDisplay: 当前显示哪张
         mouse: 鼠标事件 (click/over)
         changeMethod: 切换方式 (default/vertical/horizontal/opacity)
         autoPlay: 自动播放 (true/false)
         */

        // 多个元素同一个变化方式
        /*$('.tab').each(function () {
         $(this).tab({
         curDisplay: 5,
         mouse: 'over',
         changeMethod: 'vertical'
         });
         });*/

        // 多个元素不同变化方式（需要在HTML中加入js-tab）
        $('[js-tab=1]').tab();

        $('[js-tab=2]').tab({
            curDisplay: 2,
            changeMethod: 'horizontal'
        });

    });
</script>
<div class="foott">
    <a href="{:U('Home/Index/index')}">

    <div id="foot">
        <div id="ttu">
            <img src="__PUBLIC__/home/img/shangjia.png" alt="">
        </div>

        <div id="shou">
            <span>首页</span>
        </div>
    </div>
    </a>
    <div id="foot2" >
    <a href="{:U('Home/Order/order_info')} ">

        <div id="ttu2">
            <img src="__PUBLIC__/home/img/dingdan3.png" alt="">
        </div>

        <div id="shou2">
            <span>订单</span>
        </div>
    </div>
    </a>
    <div id="foot3" >
    <a href="{:U('Home/Person/index')}">

        <div id="ttu3">
            <img src="__PUBLIC__/home/img/geren.png" alt="">
        </div>

        <div id="shou3">
            <span>我的</span>
        </div>
    </a>
    </div>
</div>
</body>
<script>
    $('.qqx').click(function(){
        var id = $(this).attr('data-id');
        $.ajax({
            type:'post',
            dataType: 'json',
            url:'{:U("Home/Order/qqx_order")}',
            data:{ id:id },
            success: function (result) {
                if(result.code == 200){
                    // $('.hao').removeClass('cj').addClass('jc1');
                    // $('.shuzi span').html(result.data);
                    // $('#xd').remove();
                    // $('.foot').removeClass('foot').addClass('qtj').children().eq(0).html('已完成');
                    // $('#use').html('已使用');
                    // $('#wenben').remove();
                    window.location.reload();

                }else{
                    alert(result.msg);

                }
            }
        })
        // alert(id);

    })

</script>
</html>