<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 42.4px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>我的订单</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/my%20dingdan.css">

    <script src="__PUBLIC__/home/js/jquery-1.12.4.js"></script>
    <script src="__PUBLIC__/home/js/jquery-1.12.4.min.js"></script>
    <script src="__PUBLIC__/home/js/tab.js"></script>
    <script>
        $(function(){
            $(window).scroll(function() {
                if($(window).scrollTop()>1){
                    $(".nav").addClass("fixedNav");
                }else{
                    $(".nav").removeClass("fixedNav");
                }
            });
        });
    </script>
    <script>
        $(function(){
            $(window).scroll(function() {
                if($(window).scrollTop()>5){
                    $("nav2").addClass("fixedNav2");
                }else{
                    $(".nav2").removeClass("fixedNav2");
                }
            });
        });
    </script>
    <style>
        .fixedNav {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            z-index: 100000;
            _position: absolute;
            _top: expression(eval(document.documentElement.scrollTop));
        }
        .fixedNav2 {
            position: fixed;
            top: 120px;
            left: 0px;
            width: 100%;
            z-index: 100000;
            _position: absolute;
            _top: expression(eval(document.documentElement.scrollTop));
        }
    </style>
</head>
<body style="font-size: 12px">
<div class="tab" js-tab="1">
    <section class="nav">
        <div class="tab-title">
            <a href="javascript:;" class="item item-cur">订单</a>
            <a href="javascript:;" class="item">订座</a>
        </div>
    </section>
    <div class="tab-cont">
        <ul class="tab-cont__wrap">
            <li class="item">
                <div class="tab1" id="tab1">
                    <section class="nav2">
                        <div class="menu">
                            <ul>
                                <li id="one1" onclick="setTab('one',1)">全部</li>
                                <li id="one2" onclick="setTab('one',2)">待支付</li>
                                <li id="one3" onclick="setTab('one',3)">待使用</li>
                                <li id="one4" onclick="setTab('one',4)">已使用</li>
                                <li id="one5" onclick="setTab('one',5)">待评价</li>
                                <li id="one6" onclick="setTab('one',6)">取消单</li>
                            </ul>
                        </div>
                    </section>

                        <div class="menudiv">

                            <div id="con_one_1">
                            <foreach name="order_res" item="res">

                                <!-- <a href="dingdanxiangqing.html"> -->
                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$res.shopname}</span>
                                            </div>

                                            <div class="qu">
                                            <if condition="$res.order_status eq 1 || $res.order_status eq 5">
                                                <span>取消订单</span>
                                            <elseif condition="$res.order_status eq 10"/>    
                                                <span>去使用</span>
                                            <elseif condition="$res.order_status eq 15"/>
                                                <span>去评价</span>
                                            <else />
                                                <span></span>   
                                            </if>     
                                            </div>
                                        </div>

                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$res.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$res.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$res.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="{:U('Home/Order/order_xq', array('order_id' => $res['id']))}" style="text-decoration:none">
                                            <div class="dai">
                                                <div class="yong">
                                                <if condition="$res.order_status eq 1 ">
                                                    <span>未支付</span>
                                                <elseif condition="$res.order_status eq 5"/>
                                                    <span>已支付</span>
                                                    <elseif condition="$res.order_status eq 10"/>
                                                    <span>待评价</span>
                                                    <elseif condition="$res.order_status eq 15"/>
                                                    <span>已完成</span>
                                                    <elseif condition="$res.order_status eq 20"/>
                                                    <span>已取消</span>
                                                    <else />
                                                    <span>未知</span>
                                                </if>
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>

                                            </div>
                                            </a>    

                                        </div>
                                    </div>
                                <!-- </a> -->
                            </foreach>    

                            </div>



                            <div id="con_one_2" style="display:none;">
                            <foreach name="order_n" item="resn">

                                <!-- <a href="dingdanxiangqing.html"> -->
                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$resn.shopname}</span>
                                            </div>

                                            <div class="qu">
                                                <span>取消订单</span>
                                            </div>
                                        </div>

                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$resn.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$resn.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$resn.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dai">
                                                <div class="yong">
                                                    <span>未支付</span>
                                                    
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </a> -->
                            </foreach>    
                            </div>

                            <div id="con_one_3" style="display:none;">
                            <foreach name="order_s" item="ress">

                                <!-- <a href="dingdanxiangqing.html"> -->
                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$ress.shopname}</span>
                                            </div>

                                            <div class="qu">
                                                <span>取消订单</span>
                                            </div>
                                        </div>

                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$ress.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$ress.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$ress.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dai">
                                                <div class="yong">
                                                <if condition="$ress.order_status eq 1 ">
                                                    <span>未支付</span>
                                                <elseif condition="$ress.order_status eq 5 "/>
                                                    <span>已支付</span>    
                                                <else/>
                                                    <span></span>
                                                </if>
                                                    
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </a> -->
                            </foreach>  
                            </div>
                            <div id="con_one_4" style="display:none;">
                            <foreach name="order_u" item="resu">

                                <!-- <a href="dingdanxiangqing.html"> -->
                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$resu.shopname}</span>
                                            </div>

                                            <div class="qu">
                                            <if condition="$resu.order_status eq 10 ">
                                                <span>去评价</span>
                                            <else />
                                                <span></span>
                                            </if>
                                            </div>
                                        </div>

                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$resu.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$resu.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$resu.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dai">
                                                <div class="yong">
                                                <if condition="$resu.order_status eq 10 ">
                                                    <span>待评价</span>
                                                <elseif condition="$resu.order_status eq 15 "/>
                                                    <span>已完成</span>
                                                <elseif condition="$resu.order_status eq 20 "/>
                                                    <span>已取消</span>
                                                <else/>
                                                    <span></span>
                                                </if>
                                                    
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </a> -->
                            </foreach> 
                            </div>
                            <div id="con_one_5" style="display:none;">
                            <foreach name="order_p" item="resp">

                                <!-- <a href="dingdanxiangqing.html"> -->
                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$resp.shopname}</span>
                                            </div>

                                            <div class="qu">
                                                <span>去评价</span>
                                            </div>
                                        </div>

                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$resp.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$resp.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$resp.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dai">
                                                <div class="yong">
                                                    <if condition="$resp.is_use eq 1 ">
                                                    <span>已使用</span>
                                                    <else />
                                                    <span>未使用</span>
                                                    </if>
                                                    
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </a> -->
                            </foreach> 
                            </div>
                            <div id="con_one_6" style="display:none;">
                            <foreach name="order_x" item="resx">

                                <!-- <a href="dingdanxiangqing.html"> -->
                                    <div class="hezi">
                                        <div class="name">
                                            <div class="dian">
                                                <span>{$resx.shopname}</span>
                                            </div>

                                            <div class="qu">
                                                <span></span>
                                            </div>
                                        </div>

                                        <div class="hezi2">
                                            <div class="tu">
                                                <img src="__PUBLIC__{$resx.logo}" alt="">
                                            </div>

                                            <div class="hao">
                                                <div class="top">
                                                    <span>订单号:</span>
                                                </div>

                                                <div class="center">
                                                    <span>{$resx.order_code}</span>
                                                </div>

                                                <div class="xia">
                                                    <div class="xiaz">
                                                        <span>订单金额:</span>
                                                    </div>

                                                    <div class="xiay">
                                                        <span>￥{$resx.total_price}</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="dai">
                                                <div class="yong">
                                                    <span>已取消</span>
                                                
                                                    <!-- <if condition="$resx.is_use eq 1 "> -->
                                                    <!-- <else> -->
                                                    <!-- <span>未使用</span> -->
                                                    <!-- </if> -->
                                                    
                                                </div>

                                                <div class="jian">
                                                    <img src="__PUBLIC__/home/img/youjiantou.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- </a> -->
                            </foreach>
                            </div>
                        </div>
                </div>

                <!-- <script src="__PUBLIC__/home/js/jquery-1.12.4.js"></script> -->

                <!-- <script src="__PUBLIC__/home/js/jquery-1.12.4.min.js"></script> -->
                <!-- <script src="__PUBLIC__/home/js/tab.js"></script> -->
                <script>
                    function setTab(name,cursel){
                        cursel_0=cursel;
                        for(var i=1; i<=links_len; i++){
                            var menu = document.getElementById(name+i);
                            var menudiv = document.getElementById("con_"+name+"_"+i);
                            if(i==cursel){
                                menu.className="off";
                                menudiv.style.display="block";
                            }
                            else{
                                menu.className="";
                                menudiv.style.display="none";
                            }
                        }
                    }
                    function Next(){
                        cursel_0++;
                        if (cursel_0>links_len)cursel_0=1
                        setTab(name_0,cursel_0);
                    }
                    var name_0='one';
                    var cursel_0=1;
                    var links_len,iIntervalId;
                    onload=function(){
                        var links = document.getElementById("tab1").getElementsByTagName('li')
                        links_len=links.length;
                        for(var i=0; i<links_len; i++){
                            links[i].onmouseover=function(){
                                clearInterval(iIntervalId);
                            }
                        }
                        document.getElementById("con_"+name_0+"_"+links_len).parentNode.onmouseover=function(){
                            this.onmouseout=function(){
                                iIntervalId = setInterval(Next,ScrollTime);;
                            }
                        }
                    }
                </script>


            </li>

            <li class="item">
                啦啦啦啦啦啦阿拉啦啦爱啦啦爱啦啦
            </li>
        </ul>
    </div>
</div>


<script>
    $(function () {

        /**
         =========== 参数说明 ============
         curDisplay: 当前显示哪张
         mouse: 鼠标事件 (click/over)
         changeMethod: 切换方式 (default/vertical/horizontal/opacity)
         autoPlay: 自动播放 (true/false)
         */

        // 多个元素同一个变化方式
        /*$('.tab').each(function () {
         $(this).tab({
         curDisplay: 5,
         mouse: 'over',
         changeMethod: 'vertical'
         });
         });*/

        // 多个元素不同变化方式（需要在HTML中加入js-tab）
        $('[js-tab=1]').tab();

        $('[js-tab=2]').tab({
            curDisplay: 2,
            changeMethod: 'horizontal'
        });

    });
</script>

</body>
</html>