<!DOCTYPE html>
<html lang="en" data-dpr="1" style="font-size: 42.4px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>支付订单</title>
    <link rel="stylesheet" href="__PUBLIC__/home/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/zhifuye.css">
    <script src="__PUBLIC__/home/js/jquery-1.12.4.js"></script>
    <script src="__PUBLIC__/home/js/jquery-1.12.4.min.js"></script>
    <style>
        .qq {
            position: relative;
            line-height: 40px;
        }

        input[type="radio"] {
            width: 40px;
            height: 40px;
            opacity: 0;
        }

        label {
            position: absolute;
            left: 50px;
            top: 35px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid #999;
        }

        /*设置选中的input的样式*/
        /* + 是兄弟选择器,获取选中后的label元素*/
        input:checked+label {
            background-color: #ffae00;
            border: 1px solid #ffae00;
        }

        input:checked+label::after {
            position: absolute;
            content: "";
            width: 15px;
            height: 30px;
            top: 6px;
            left: 16px;
            border: 4px solid #fff;
            border-top: none;
            border-left: none;
            transform: rotate(45deg)
        }
    </style>
</head>
<body style="font-size: 12px">
<div class="header">
    <span>支付订单</span>
</div>

<div class="top">
    <div class="top2">
        <div class="ding">
            <span>订单信息</span>
        </div>

        <div class="shang">
            <div class="jia">
                <span>商&nbsp;&nbsp;&nbsp;家:</span>
            </div>

            <div class="name">
                <span>{$shopname}</span>
            </div>
        </div>

        <div class="dan">
            <div class="ddh">
                <span>订单号:</span>
            </div>

            <div class="hao">
                <span>{$order_code}</span>
            </div>
        </div>
    </div>
</div>

<div class="center">
    <div class="center2">
        <div class="jin">
            <span>订单金额</span>
        </div>

        <div class="yuan">
            <div class="yj">
                <span>原价</span>
            </div>

            <div class="qian">
                <span>￥&nbsp;{$total_price}</span>
            </div>
        </div>

        <div class="sui">
            <div class="li">
                <div class="tu">
                    <img src="__PUBLIC__/home/img/jian.png" alt="">
                </div>

                <div class="jian">
                    <span>随机立减&nbsp;活动</span>
                </div>

                <div class="jqian">
                    <span>-￥&nbsp;{$lj}</span>
                </div>
            </div>
        </div>

        <div class="ying">
            <div class="fu">
                <span>应付金额</span>
            </div>

            <div class="fuqian">
                <span>￥{$sf}</span>
            </div>
        </div>
    </div>
</div>
<!-- <form action="{:U('Home/Order/to_pay')}" name="myform" method="post" id="uform"> -->
<!-- <form> -->
    <div class="bot">
        <div class="bot2">
            <div class="wei">
                <div class="tu2">
                    <img src="__PUBLIC__/home/img/weixin.png" alt="">
                </div>

                <div class="xin">
                    <span>微信支付</span>
                </div>
                <div class="yuqian">
                    <span></span>
                </div>
                <div class="fuxuan2">
                    <div class="qq">
                        <input id="item1" class="zfzt" type="radio" name="item" value="1" checked>
                        <label for="item1"></label>
                    </div>
                </div>
            </div>


            <div class="yu">
                <div class="tu2">
                    <img src="__PUBLIC__/home/img/yu.png" alt="">
                </div>

                <div class="yue">
                    <span>余额支付</span>
                </div>

                <div class="yuqian">
                    <span>￥&nbsp;{$money}</span>
                </div>

                <div class="fuxuan2">
                    <div class="qq">
                        <input id="item2" class="zfzt" type="radio" name="item" value="2">
                        <label for="item2"></label>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <button onclick="pay()">
            去支付&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;￥{$sf}
            <!-- <input type="hidden" name="sf" value="{$sf}">
            <input type="hidden" name="lj" value="{$lj}">
            <input type="hidden" name="order_id" value="{$order_id}">
            <input type="hidden" name="total_price" value="{$total_price}">
            <input type="hidden" name="store_id" value="{$store_id}"> -->
        </button>
    </div>
<!-- </form> -->

</body>
<script type="text/javascript">  
//调用微信JS api 支付   
function onBridgeReady(){
   WeixinJSBridge.invoke(
       'getBrandWCPayRequest', {
           "appId":"wx30248bc4475fd353",     //公众号名称，由商户传入     
           "timeStamp":"1395712654",         //时间戳，自1970年以来的秒数     
           "nonceStr":"e61463f8efa94090b1f366cccfbbb444", //随机串     
           "package":"prepay_id=u802345jgfjsdfgsdg888",     
           "signType":"MD5",         //微信签名方式：     
           "paySign":"70EA570631E4BB79628FBCA90534C63FF7FADD89", //微信签名 
           "total_fee":20,
           'order_id' :{$order_id}
       },
       function(res){     
           if(res.err_msg == "get_brand_wcpay_request:ok" ) {}     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
       }
   ); 
}

//浏览器兼容问题
function pay(){
    if (typeof WeixinJSBridge == "undefined"){
       if( document.addEventListener ){
           document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
       }else if (document.attachEvent){
           document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
           document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
       }
    }else{
       onBridgeReady();
    } 
}



  
</script> 
</html>                                                 