<!DOCTYPE html>
<html lang="en" style="font-size: 42.4px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <title>认证资质</title>
    <link rel="stylesheet" href="__PUBLIC__/merch/css/base.css">
    <link rel="stylesheet" href="__PUBLIC__/merch/css/text.css">
    <link rel="stylesheet" href="__PUBLIC__/merch/css/xinxi.css">
</head>
<body style="font-size: 12px">

<div class="head">
    <span>基本信息</span>
</div>

<div class="big">

    <div class="ying">
        <div class="zhi">
            <span>基本信息</span>
        </div>
    </div>

    <div class="zhao">
        <div class="tet">
            <input type="text" placeholder="门店照片">
            <!--<input type="file" accept="audio/*;capture=microphone" enctype="multipart/form-data">-->
            <script>

            </script>
        </div>

        <div class="tu">
            <img src="__PUBLIC__/merch/images/xinagji.png" alt="">
        </div>

        <div class="fu2">
            <span>*</span>
        </div>
    </div>

    <div class="name2">
        <div class="ming">
            <input type="text" placeholder="商家名称">
        </div>

        <div class="fu">
            <span>*</span>
        </div>
    </div>

    <div class="name">
        <div class="ming">
            <input type="text" placeholder="餐厅服务电话">
        </div>

        <div class="fu">
            <span>*</span>
        </div>
    </div>

    <div class="name2">
        <div class="ming">
            <input type="text" placeholder="所属城市">
        </div>

        <div class="fu">
            <span>*</span>
        </div>
    </div>

    <div class="name2">
        <div class="ming">
            <input type="text" placeholder="具体地址">
        </div>

        <div class="fu">
            <span>*</span>
        </div>
    </div>

    <div class="name2">
        <div class="ming">
            <input type="text" placeholder="营业时间开始/结束">
        </div>

        <div class="fu">
            <span>*</span>
        </div>
    </div>

    <div class="name2">
    <div class="ming">
        <input type="text" placeholder="门店类别">
    </div>

    <div class="fu">
        <span>*</span>
    </div>
</div>

    <div class="name2">
        <div class="ming">
            <input type="text" placeholder="人均消费">
        </div>

        <div class="fu">
            <span>*</span>
        </div>
    </div>

</div>

<div class="kong"></div>

<div class="kong2"></div>

<div class="foot">
    <span>确认提交</span>
</div>
</body>
</html>