*{
    box-sizing: border-box;
}
body{
    padding-bottom:1.18rem;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
section{
    background: #fff;
    border-bottom:.12rem solid #f0f0f0;
}
/*header*/
#header{
    height:1.06rem;
    text-align: center;
    vertical-align: middle;
    background:#fcb448;
    position: relative;
}
#header .title{
    display: block;
    color: #fff;
    font-size: .36rem;
    line-height: 1.06rem;
    letter-spacing: 1px;
}
#header .title>img{
    display: inline;
    vertical-align: middle;
    height:.46rem;
}
#header .go_back,#header .search{
    position: absolute;
    top:50%;
}
#header .go_back{
    left:.4rem;
    margin-top:-.22rem;
}
#header .search{
    right:.4rem;
    margin-top:-.27rem;
}
#header .go_back>img{
    height: .44rem;
}
#header .search>img{
    height: .54rem;
}

/*footer*/
#footer{
    height: 1.26rem;
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    bottom:0;
    border:1px solid #cdcdcd;
}
[data-dpr="2"] #footer{
    border: .5px solid #cdcdcd;
}
#footer>ul{
    display: -webkit-box;
    display:-webkit-flex;
    display: flex;
    padding: .13rem 0;
}
#footer>ul>li{
    -webkit-box-flex:1;
    -webkit-flex:1;
    flex:1;
}
#footer img{
    margin:0 auto .2rem;
    width: .48rem;
}
#footer img[data-flag="1"],#footer .active img[data-flag="0"]{
    display: none;
}
#footer .active img[data-flag="1"]{
    display: block;
}
#footer a{
    display: block;
    text-align: center;
    color: #333;
    font-size: .27rem;
}
#footer .active a{
    color: #fcb448;
}

/*ad*/
.ad_pic{
    position: relative;
    border-bottom:0;
}
.ad_pic img{
    width: 100%;
}
.ad_pic .ad_title{
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    height: 1.8rem;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.6)));
    color: #fff;
    padding: .58rem 0 .24rem .3rem;
}
.ad_title>h3{
    font-size: .42rem;
    font-weight: 400;
    margin-bottom: .16rem;
}
.ad_title>p{
    font-size: .3rem;
}

/*category*/
.category_wrap{
    position: relative;
}
#category{
    display: -webkit-box;
    display:-webkit-flex;
    display: flex;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding: .12rem 0;
    position: relative;
}
#category>li{
    -webkit-box-flex:1;
    -webkit-flex:1;
    flex:1;
}
#category>li+li{
    border-left:1px solid #e5e5e5;
}
.category_wrap a{
    display: block;
    color: #333;
    height: 1rem;
    line-height: 1rem;
}
.category_wrap a img{
    display: inline-block;
}
#category>li>a{
    text-align: center;
    font-size: .29rem;
}
#category>li>a>img{
    width: .26rem;
    margin-left: .2rem;
}
.category_wrap .sort_1{
    position: absolute;
    top:1.28rem;
    left: 0;
    width: 100%;
    height:8rem;
    overflow-y: auto;
    background: #fff;
    display: none;

}
.category_wrap .sort_1>li{
    width: 50%;
}
.category_wrap .sort_1 a{
    padding: 0 .34rem;
    font-size: .3rem;
}
.category_wrap .sort_1>li>a>img{
    width: .36rem;
    margin-right: .16rem;
    vertical-align: middle;
}
.category_wrap .num{
    color: #999;
    float: right;
}
.category_wrap .sort_2{
    position: fixed;
    left: 50%;
    top:1.28rem;
    width: 50%;
    height:8rem;
    overflow-y: auto;
    background: #f0f0f0;
    display: none;
}
.category_wrap .active .sort_2,.category_wrap .sort_1 li:first-child .sort_2{
    display: block;
}
#category .active{
    background: #f0f0f0;
}
#category .active>a,#category .active>a>.num{
    color:#fcb448 ;
}
.category_footer{
    position: absolute;
    top:9.24rem;
    left: 0;
    right: 0;
    display: none;
    height: .56rem;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    border-top:1px solid #e5e5e5;
}
.category_footer>img{
    height: .13rem;
    display: inline;
}
.category_open .category_wrap{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    z-index: 101;
}
.category_open .on+.sort_1,.category_open .category_footer{
    display: block;
}

.modal_backdrop{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background: rgba(0,0,0,0.4);
    z-index:100;
    opacity: 0;
    display: none;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -ms-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
}
.category_open .modal_backdrop{
    display: block;
    opacity: 1;
}

/*loading*/
.loading{
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    color: #999;
}
.loading>img{
    width: 6%;
    display: inline;
    margin-right: 5px;
    vertical-align: middle;
}

/*button*/
.btn{
    border:1px solid transparent;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size:.38rem;
    border-radius: 4px;
    padding: 0;
}
.btn_success{
    width: 2.33rem;
    height: .88rem;
    border-color: #fcb448;
    background: #fcb448;
}
