*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: #f3f3f3;
}
.header{
    width: 100%;
    height: 120px;
    background-color: #ffae00;
    text-align: center;
    line-height: 120px;
}
.header span{
    font-weight: normal;
    font-size: 40px;
    color: white;
}
.shangjia{
    width: 95%;
    height: 90px;
    line-height: 90px;
    margin-left: 5%;
}
.shangjia span{
    font-size: 33.6px;
    color: #888888;
}

.name{
    width: 100%;
    height: 120px;
    background-color: white;
    border-top:1.2px solid #DEDEDE;
    border-bottom: 1.2px solid #DEDEDE;
}
.dianming{
    width: 65%;
    height: 120px;
    line-height: 120px;
    margin-left: 5%;
    float: left;
}
.dianming span{
    font-size: 35px;
    color: #353535;
}
.jia{
    width: 30%;
    height: 120px;
    float: left;
}
.jia2{
    width: 60%;
    height: 90px;
    text-align: center;
    line-height: 90px;
    margin-top: 15px;
    border: 3.6px solid #ffae00;
    border-radius: 20px;
    float: left;
    margin-left: 20%;
}
.jia2 span{
    font-size: 35px;
    color: #ffae00;
}

.mingxi{
    width: 95%;
    height: 90px;
    line-height: 90px;
    margin-left: 5%;
}
.mingxi span{
    font-size: 33.6px;
    color: #888888;
}



.big{
    width: 100%;
    background-color: white;
}

.caiming{
    width: 96%;
    height: 100px;
    margin-left: 2%;
    border-bottom: 1.2px solid #DEDEDE;
}
.cai{
    width: 100%;
    height: 120px;
    line-height: 120px;
}
.pin{
    width: 50%;
    height: 100px;
    margin-left: 3%;
    float: left;
}
.pin span{
    font-size: 30px;
}
.num{
    width: 35%;
    height: 100px;
    float: left;
}
.num span{
    font-size: 30px;
}
.dan{
    width: 12%;
    height: 100px;
    float: left;
}
.dan span{
    font-size: 30px;
}




.center{
    width: 96%;
    margin-left: 2%;
}
.cai2{
    width: 100%;
    height: 72px;
    line-height: 72px;
}
.qq{
    width: 50%;
    height: 72px;
    margin-left: 3%;
    float: left;
}
.qq span{
    font-size: 30px;
}
.liang{
    width: 35%;
    height: 72px;
    float: left;
}
.liang span{
    font-size: 30px;
}
.jiage{
    width: 12%;
    height: 72px;
    float: left;
}
.jiage span{
    font-size: 30px;
    color: #ffae00;
}


.cai3{
    width: 100%;
    height: 72px;
    line-height: 72px;
}
.qq2{
    width: 50%;
    height: 72px;
    margin-left: 3%;
    float: left;
}
.qq2 span{
    font-size: 30px;
}
.liang2{
    width: 35%;
    height: 72px;
    float: left;
}
.liang2 span{
    font-size: 30px;
}
.jiage2{
    width: 12%;
    height: 72px;
    float: left;
}
.jiage2 span{
    font-size: 30px;
    color: #ffae00;
}

.cai4{
    width: 100%;
    height: 72px;
    line-height: 72px;
}
.qq3{
    width: 50%;
    height: 72px;
    margin-left: 3%;
    float: left;
}
.qq3 span{
    font-size: 30px;
}
.liang3{
    width: 35%;
    height: 72px;
    float: left;
}
.liang3 span{
    font-size: 30px;
}
.jiage3{
    width: 12%;
    height: 72px;
    float: left;
}
.jiage3 span{
    font-size: 30px;
    color: #ffae00;
}









.jie{
    width: 96%;
    height: 150px;
    line-height: 150px;
    margin-left: 2%;
    border-top: 1.2px solid #DEDEDE;
}
.jine{
    width: 67%;
    height: 150px;
    margin-left: 3%;
    float: left;
}
.jine span{
    font-size: 30px;
    color: #ffae00;
}
.shi{
    width: 15%;
    height: 150px;
    float: left;
}
.shi span{
    font-size: 40px;
    font-weight: normal;
}
.qqian{
    width: 15%;
    height: 150px;
    float: left;
}
.qqian span{
    font-size: 45px;
    font-weight: bolder;
    color: #ffae00;
}














.juti{
    width: 100%;
    height: 360px;
    background-color: white;
    margin-top: 15px;
}
.renshu{
    width: 96%;
    height: 120px;
    line-height: 120px;
    margin-left: 2%;
    border-bottom: 1.2px solid #DEDEDE;
}
.ren{
    width: 11%;
    height: 80px;
    line-height: 80px;
    float: left;
    margin-left: 3%;
    margin-top: 20px;
    border-right: 2.4px solid #DEDEDE;
}
.ren span{
    font-size: 33.6px;
}
.shu{
    width: 60%;
    height: 120px;
    float: left;
    margin-left: 5%;
    line-height: 120px;
}
.shu input{
    width: 60%;
    height: 90px;
    font-size: 30px;
}

.aa{
    width: 96%;
    height: 120px;
    margin-left: 2%;
    border-bottom: 1.2px solid #DEDEDE;
}
.xxing{
    width: 11%;
    height: 80px;
    line-height: 80px;
    float: left;
    margin-left: 3%;
    margin-top: 20px;
    border-right: 2.4px solid #DEDEDE;
}
.xxing span{
    font-size: 33.6px;
}
.mming{
    width: 60%;
    height: 120px;
    float: left;
    margin-left: 5%;
    line-height: 120px;
}
.mming input{
    width: 60%;
    height: 90px;
    font-size: 30px;
}


.wei{
    width: 96%;
    height: 120px;
    margin-left: 2%;
}
.kou{
    width: 11%;
    height: 80px;
    line-height: 80px;
    float: left;
    margin-left: 3%;
    margin-top: 20px;
    border-right: 2.4px solid #DEDEDE;
}
.kou span{
    font-size: 33.6px;
}
.ll{
    width: 60%;
    height: 120px;
    float: left;
    margin-left: 5%;
    line-height: 120px;
}
.ll input{
    width: 100%;
    height: 90px;
    font-size: 30px;
}

.ddi{
    width: 100%;
    height: 120px;
    background-color: white;
    position: absolute;
    bottom: 0;
}
.fen{
    width: 40%;
    height: 120px;
    line-height: 120px;
    margin-left: 5%;
    float: left;
}
.fen span{
    font-size: 33.6px;
}
.zong{
    width: 15%;
    height: 120px;
    float: left;
    margin-left: 5%;
    line-height: 120px;
}
.zong span{
    font-size: 50px;
    font-weight: bolder;
    color: #ffae00;
}
.tj{
    width: 35%;
    height: 120px;
    background-color: #ffae00;
    float: left;
}

.tj button{
    width: 100%;
    height: 120px;
    background-color: #ffae00;
    text-align: center;
    line-height: 120px;
    color: #ffffff;
    font-size: 40px;
}