body{
    background-color: #f3f3f3;
}
.header{
    width: 100%;
    height: 120px;
    background-color: #ffae00;
    text-align: center;
    line-height: 120px;
}
.header span{
    color: white;
    font-size: 35px;
}
.hao{
    width: 100%;
    height: 200px;
    background-color: white;
}
.dd{
    width: 100%;
    height: 100px;
}

.dd1{
<<<<<<< HEAD
    width: 40%;
=======
    width: 100%;
>>>>>>> 82915d42581279f07177dc506d383202ff0a965c
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.dd1 span{
    font-size: 60px;
    font-weight: bolder;
    color: #ffae00;
}

.jiu{
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.jiu span{
    font-size: 33.6px;
    color: #353535;
}
.an{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.an span{
    font-size: 30px;
    color: #888888;
}




.ding0{
    width: 100%;
    height: 175px;
    background-color: white;
    border-top: 1.2px solid #DEDEDE;
    border-bottom: 1.2px solid #DEDEDE;
}
.dding{
    width: 96%;
    height: 50px;
    margin-left: 4%;
    margin-top: 10px;
}
.dan0{
    width: 15%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
}
.dan0 span{
    font-size: 30px;
    color: #888888;
}
.hhao{
    width: 82%;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-left: 3%;
}
.hhao span{
    font-size: 30px;
    color: #ffae00;
}


.zhuang{
    width: 96%;
    height: 50px;
    margin-left: 4%;
}
.tai{
    width: 15%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
}
.tai span{
    font-size: 30px;
    color: #888888;
}
.yi{
    width: 82%;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-left: 3%;
}
.yi span{
    font-size: 30px;
    color: #888888;
}

.aa{
    width: 96%;
    height: 50px;
    margin-left: 4%;
}
.aa2{
    width: 15%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
}
.aa2 span{
    font-size: 30px;
    color: #888888;
}
.aa3{
    width: 62%;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-left: 3%;
}
.aa3 span{
    font-size: 30px;
    color: #888888;
}
.tet{
    width: 20%;
    height: 50px;
    float: left;
}
.wenben{
    width: 80%;
    height: 50px;
    background-color: #ffae00;
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
}
.wenben span{
    font-size: 30px;
    color: white;
}





.mming{
    width: 96%;
    height: 100px;
    line-height: 100px;
    margin-left: 4%;
}
.mming span{
    font-size: 30px;
    color: #888888;
}

.big{
    width: 100%;
    background-color: white;
}
.caiming{
    width: 96%;
    height: 100px;
    margin-left: 2%;
    border-bottom: 1.2px solid #DEDEDE;
}
.cai{
    width: 100%;
    height: 100px;
    line-height: 100px;
}
.pin{
    width: 50%;
    height: 100px;
    margin-left: 3%;
    float: left;
}
.pin span{
    font-size: 30px;
    color: #353535;
}
.num{
    width: 35%;
    height: 100px;
    float: left;
}
.num span{
    font-size: 30px;
    color: #353535;
}
.dan{
    width: 12%;
    height: 100px;
    float: left;
}
.dan span{
    font-size: 30px;
    color: #353535;
}

.center{
    width: 96%;
    margin-left: 2%;
}
.cai2{
    width: 100%;
    height: 72px;
    line-height: 72px;
}
.qq{
    width: 50%;
    height: 72px;
    margin-left: 3%;
    float: left;
}
.qq span{
    font-size: 30px;
}
.liang{
    width: 35%;
    height: 72px;
    float: left;
}
.liang span{
    font-size: 30px;
    color: #888888;
}
.jiage{
    width: 12%;
    height: 72px;
    float: left;
}
.jiage span{
    font-size: 30px;
    color: #ffae00;
}
.cai3{
    width: 100%;
    height: 72px;
    line-height: 72px;
}
.qq2{
    width: 50%;
    height: 72px;
    margin-left: 3%;
    float: left;
}
.qq2 span{
    font-size: 30px;
}
.liang2{
    width: 35%;
    height: 72px;
    float: left;
}
.liang2 span{
    font-size: 30px;
    color: #888888;
}
.jiage2{
    width: 12%;
    height: 72px;
    float: left;
}
.jiage2 span{
    font-size: 30px;
    color: #ffae00;
}

.cai4{
    width: 100%;
    height: 72px;
    line-height: 72px;
}
.qq3{
    width: 50%;
    height: 72px;
    margin-left: 3%;
    float: left;
}
.qq3 span{
    font-size: 30px;
}
.liang3{
    width: 35%;
    height: 72px;
    float: left;
}
.liang3 span{
    font-size: 30px;
    color: #888888;
}
.jiage3{
    width: 12%;
    height: 72px;
    float: left;
}
.jiage3 span{
    font-size: 30px;
    color: #ffae00;
}



.canju{
    width: 100%;
    height: 72px;
    line-height: 72px;
    border-top:1.2px solid #DEDEDE;
}
.ju{
    width: 15%;
    height: 72px;
    margin-left: 3%;
    text-align: center;
    float: left;
}
.ju span{
    font-size: 30px;
}
.ju2{
    width: 35%;
    height: 72px;
    float: left;
    margin-left: 35%;
}
.ju2 span{
    font-size: 30px;
    color: #888888;
}
.ju3{
    width: 12%;
    height: 72px;
    float: left;
}
.ju3 span{
    font-size: 30px;
    color: #ffae00;
}



.xiang{
    width: 100%;
    height: 200px;
}
.xxiang{
    width: 94%;
    height: 200px;
    margin-left: 3%;
    border-top: 1.2px solid #DEDEDE;
}
.sui{
    width: 100%;
    height: 100px;
    border-bottom: 1.2px solid #DEDEDE;
}
.ssui{
    width: 78%;
    height: 100px;
    margin-left: 2%;
    line-height: 100px;
    float: left;
}
.ssui span{
    font-size: 33.6px;
    color: #888888;
}
.jian{
    width: 20%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
}
.jian span{
    font-size: 33.6px;
    color: #ffae00;
}
.zongji{
    width: 100%;
    height: 100px;
}
.zj{
    width: 68%;
    height: 100px;
    margin-left: 2%;
    line-height: 100px;
    float: left;
}
.zj span{
    font-size: 33.6px;
    color: #888888;
}
.sf{
    width: 30%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
}
.sf span{
    font-size: 33.6px;
    color: #ffae00;
}




.zhuohao{
    width: 100%;
    height: 110px;
    background-color: white;
    margin-top: 12px;
}
.hhao6{
    width: 95%;
    height: 110px;
    margin-left: 2.5%;
    float: left;
    border-bottom: 1.2px solid #DEDEDE;
}
.xuan{
    width: 73%;
    height: 110px;
    line-height: 110px;
    float: left;
    margin-left: 2%;
}
.xuan span{
    font-size: 33.6px;
}
.zwh{
    width: 20%;
    height: 110px;
    line-height: 110px;
    float: left;
}
.zwh span{
    font-size: 30px;
    color: #888;
}
.jian{
    width: 5%;
    height: 110px;
    line-height: 110px;
    text-align: center;
    float: left;
}
.jian img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.footer{
    width: 100%;
    height: 120px;
    position: fixed;
    bottom: 0;
}
.foot{
    width: 50%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #BBBBBB;
    float: left;
}
.foot span{
    font-size: 35px;
    color: white;
}

.food{
    width: 50%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #ffae00;
    float: left;
}
.food span{
    font-size: 35px;
    color: white;
}