*{
    margin: 0;
    padding: 0;
}
.body{
    background-color:#EAEAEA;
}
.header{
    width: 100%;
    height: 408px;
    background-color: #ffae00;
}
.top{
    width: 100%;
    height: 243px;
}
.kong{
    width: 15%;
    height: 243px;
    float: left;
}
.person{
    width: 70%;
    height: 243px;
    line-height: 243px;
    text-align: center;
    float: left;
}
.person img{
    width: 192px;
    height: 192px;
    vertical-align: middle;
    border-radius: 50%;
    border: 2.4px solid white;
}
.shezhi{
    width: 15%;
    height: 243px;
    float: left;
    text-align: center;
}
.shezhi img{
    width: 60px;
    height: 60px;
    margin-top: 50px;
    vertical-align: middle;
}
.mingzi{
    width: 100%;
    height: 165px;
}
.name{
    width: 100%;
    height: 72px;
    text-align: center;
    line-height:72px;
}
.name a:active {
    color:black;
}
.name span{
    font-size: 43.2px;
    font-weight: bolder;
}
.phone{
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
.phone span{
    font-size: 38.4px;
    font-weight: normal;
}

.money{
    width: 100%;
    height: 144px;
    background-color: white;
    border-bottom: 1.2px solid #DEDEDE;
}
.pp{
    width: 100%;
    height: 120px;
    float: left;
    margin-top: 12px;
}
.zuo{
    width: 50%;
    height: 120px;
    border-right: 2.4px solid #888888;
    float: left;
}
.qian{
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
}
.qian span{
    font-size: 60px;
    font-weight: bolder;
    color: #F9C555;
}
.zhang{
    width: 100%;
    height: 40px;
    text-align:center;
    line-height: 40px;
}
.zhang span{
    font-size: 35px;
    font-weight: normal;
    color: #939393;
}


.right{
    width: 50%;
    height: 120px;
    float: left;
}
.qian2{
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
}
.qian2 span{
    font-size: 60px;
    font-weight: bolder;
    color: #F9C555;
}
.ru{
    width: 100%;
    height: 40px;
    text-align:center;
    line-height: 40px;
}
.ru span{
    font-size: 35px;
    font-weight: normal;
    color: #939393;
}


.all{
    width: 100%;
    height: 120px;
    background-color: white;
    border-top: 1.2px solid #DEDEDE;
    border-bottom: 1.2px solid #DEDEDE;
    margin-top: 12px;
}
.tu{
    width: 13%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    float: left;
}

.tu img{
    width: 60px;
    height: 60px;
    border-radius: 7.2px;
    vertical-align: middle;
}
.quan{
    width: 74%;
    height: 120px;
    float: left;
    line-height: 120px;
}
.quan span{
    font-size: 40.8px;
    font-weight: normal;
    color: #353535;
}
.you{
    width: 13%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    float: left;
}
.you img{
    width: 33.6px;
    height: 33.6px;
    vertical-align: middle;
}

.di{
    width: 100%;
    height: 362.4px;
    background-color: white;
    border-top: 1.2px solid #DEDEDE;
    border-bottom: 1.2px solid #DEDEDE;
    margin-top: 12px;
}

.qq{
    width: 96.5%;
    height: 120px;
    margin-left: 3.5%;
    border-bottom: 1.2px solid #DEDEDE;
}
.tu2{
    width: 10%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.tu2 img{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 7.2px;
}
.wo{
    width: 77%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.wo span{
    font-size: 40.8px;
    font-weight: normal;
    color: #353535;
}
.you2{
    width: 13%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    float: left;
}
.you2 img{
    width: 33.6px;
    height: 33.6px;
    vertical-align: middle;
}


.qq2{
    width: 96.5%;
    height: 120px;
    margin-left: 3.5%;
    border-bottom: 1.2px solid #DEDEDE;
}
.tu3{
    width: 10%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.tu3 img{
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 7.2px;
}
.shou{
    width: 77%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.shou span{
    font-size: 40.8px;
    font-weight: normal;
    color: #353535;
}
.you3{
    width: 13%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    float: left;
}
.you3 img{
    width: 33.6px;
    height: 33.6px;
    vertical-align: middle;
}


.qq3{
    width: 96.5%;
    height: 122.4px;
    margin-left: 3.5%;
}
.tu4{
    width: 10%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.tu4 img{
    vertical-align: middle;
    width: 60px;
    height: 60px;
}
.tui1{
    width: 77%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.tui1 span{
    font-size: 40.8px;
    font-weight: bolder;
    color: #353535;
}
.tui1 .wei{
    font-size: 35px;
    font-weight: normal;
    color:#888888;
    margin-left: 30px;
}
.you4{
    width: 13%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    float: left;
}
.you4 img{
    width: 33.6px;
    height: 33.6px;
    vertical-align: middle;
}

/*底部css*/
.foott{
    width: 100%;
    height:110px;
    border-top: 1.2px solid #DEDEDE;
    background-color: #F7F6FB;
    float: left;
    position: fixed;
    bottom:0px;
    left:0;
    right:0;
}
.foot{
    width: 33.33%;
    height: 110px;
    float: left;
}
.tupian6{
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
}
.tupian6 img{
    width: 65px;
    height: 65px;
    margin-top: 5px;
}
.shouye{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.shouye span{
    font-size: 25px;
    color: #98999E;
}