*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: #eaeaea;
}
.header{
    width: 100%;
    height: 120px;
    background-color: #ffae00;
    text-align: center;
    line-height: 120px;
}
.header span{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
.zhuce{
    width: 100%;
    height: 96px;
    margin-top: 12px;
    text-align: center;
    line-height: 96px;
}
.zhuce span{
    font-size: 43.2px;
    color: #353535;
    font-weight: normal;
}
.phone{
    width: 90%;
    height: 120px;
    background-color: white;
    margin-left: 5%;
    margin-top: 12px;
}
.tu{
    width: 120px;
    height: 84px;
    float: left;
    border-right: 2.4px solid #888888;
    margin-top: 18px;
    text-align: center;
    line-height: 84px;
}
.tu img{
    width: 72px;
    vertical-align: middle;
}
.text{
    width: 82%;
    height: 120px;
    float: left;
    margin-left: 36px;
}
.text input{
    width: 60%;
    height: 84px;
    font-size: 35px;
    margin-top: 18px;
    float: left;
}
#ts{
    float: left;
    width: 40%;
    height: 84px;
    line-height: 84px;
    font-size: 30px;
    margin-top: 18px;
    color:red;
}

#ts2{
    float: left;
    width: 40%;
    height: 84px;
    line-height: 84px;
    font-size: 30px;
    margin-top: 18px;
    color:red;
}

#ts3{
    float: left;
    width: 33%;
    height: 84px;
    line-height: 84px;
    font-size: 30px;
    margin-top: 18px;
    color:red;
}



.mima{
    width: 90%;
    height: 120px;
    background-color: white;
    margin-left: 5%;
    margin-top: 12px;
}
.tu2{
    width: 120px;
    height: 84px;
    float: left;
    border-right: 2.4px solid #888888;
    margin-top: 18px;
    text-align: center;
    line-height: 84px;
}
.tu2 img{
    width: 72px;
    vertical-align: middle;
}
.text2{
    width: 82%;
    height: 120px;
    float: left;
    margin-left: 36px;
    text-align: center;
}
.text2 input{
    width: 60%;
    height: 84px;
    font-size: 35px;
    margin-top: 18px;
    float: left;
}

.shu{
    width: 90%;
    height: 120px;
    margin-top: 12px;
    margin-left: 5%;
}

.yan{
    width: 73.5%;
    height: 120px;
    float: left;
    background-color: white;
    text-align: center;
}
.yan input{
    width: 42%;
    height: 72px;
    font-size: 33.6px;
    background-color: white;
    margin-left: 25%;
    margin-top: 24px;
    float: left;
}

.send{
    width: 25%;
    height: 120px;
    border: 4.8px solid #ffae00;
    background-color: white;
    float: left;
    margin-left: 1.5%;
    text-align: center;
    line-height: 120px;
    font-size: 36px;
    color: #888888;
}
.send span{
    color:#ffae00;
    font-weight: normal;
    font-size: 36px;
}

.hetong{
    width: 90%;
    height:80px;
    margin-left: 5%;
    margin-top: 12px;
    line-height:80px;
}
.fu{
    width: 8%;
    height: 80px;
    line-height: 80px;
    float: left;
}
.fu input{
    width: 30px;
    height: 30px;
    margin-top: 25px;
}
.yi{
    width: 30%;
    height: 80px;
    line-height: 80px;
    float: left;
}
.yi span{
    font-size: 36px;
}
.xieyi{
    width: 62%;
    height: 80px;
    line-height: 80px;
    float: left;
}
.xieyi span{
    font-size: 36px;
    color: #ffae00;
}




.footer{
    width: 90%;
    height: 120px;
    background-color: #ffae00;
    text-align: center;
    line-height: 120px;
    margin-top: 48px;
    margin-left: 5%;
}
.footer span{
    font-size: 43.2px;
    font-weight: normal;
    color: white;
}


form .send1{
    color:#888888;
    border:4.8px solid #ffae00;
    font-size: 43.2px;
    font-weight: normal;
}

.fu {
    position: relative;
    line-height: 40px;
}

input[type="checkbox"] {
    width: 40px;
    height: 40px;
    opacity: 0;
}

label {
    position: absolute;
    left: 20%;
    top: 18px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #888;
}

/*设置选中的input的样式*/
/* + 是兄弟选择器,获取选中后的label元素*/
input:checked+label {
    border: 4px solid #ffae00;
}

input:checked+label::after {
    position: absolute;
    content: "";
    width: 13px;
    height: 25px;
    top: 4px;
    left: 12px;
    border: 4px solid #ffae00;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
}



