html{
    background-color: #fff !important;
}
body{
    background-color: #fff !important;
}
.header{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #B2B2B2;
}
.head{
    width: 80%;
    height: 70px;
    margin-left: 5%;
    float: left;
    border-radius: 50px;
    margin-top: 15px;
    background-color: #EBECEE;
}
.look{
    width: 10%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    float: left;
}
.look img{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.int{
    width: 90%;
    height: 70px;
    line-height: 70px;
    float: left;
}
.int input{
    width: 95%;
    height: 65px;
    background-color: #EBECEE;
    font-size: 33.6px;
}
.qx{
    width: 15%;
    height: 100px;
    float: left;
    line-height: 100px;
    text-align: center;
}
.qx span{
    font-size: 33.6px;
    color: #ffae00;
}

.re{
    width: 100%;
}
.rm{
    width: 90%;
    height: 100px;
    margin-left: 5%;
    line-height: 120px;
}
.rm span{
    font-size: 33.6px;
    color: #888;
}
.name{
    width: 90%;
    min-height: 90px;
    margin-left: 5%;
}
.mz{
    width: auto;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: #F4F4F4;
    display: inline-block;
    border-radius:10px;
    margin-right: 20px;
    margin-top: 20px;
}
.mz span{
    font-size: 28px;
    padding-left: 20px;
    padding-right: 20px;
}

#li{
    width: 100%;
}
.lishi{
    width: 90%;
    height: 100px;
    margin-left: 5%;
}
.ls{
    width: 95%;
    height: 100px;
    float: left;
    line-height: 120px;
}
.ls span{
    font-size: 33.6px;
    color: #888;
}
#sc{
    width: 5%;
    height: 100px;
    line-height: 120px;
    text-align: center;
    float: left;
}
#sc img{
    width: 35px;
    height: 35px;
    vertical-align: middle;
}