.header{
    width: 100%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    background-color: #ffae00;
}
.header span{
    color: #fff;
    font-size: 43.8px;
    font-weight: bolder;
}
.top{
    width: 100%;
    height: 336px;
    background-color: #fff;
    margin-top: 24px;
}
.top2{
    width: 97%;
    height: 336px;
    margin-left:1.5%;
}
.ding{
    width: 100%;
    height: 96px;
    line-height: 96px;
    border-bottom: 1.2px solid #DEDEDE;
}
.ding span{
    font-size: 36px;
    color: #888;
    margin-left: 2%;
}
.shang{
    width: 100%;
    height: 120px;
    line-height: 120px;
    border-bottom: 1.2px solid #DEDEDE;
}
.jia{
    width: 48%;
    height: 120px;
    margin-left: 2%;
    float: left;
}
.jia span{
    font-size: 36px;
}
.name{
    width: 48%;
    height: 120px;
    margin-right: 2%;
    text-align: right;
    line-height: 120px;
    float: left;
}
.name span{
    font-size: 36px;
}
.dan{
    width: 100%;
    height: 120px;
}
.ddh{
    width: 48%;
    height: 120px;
    margin-left: 2%;
    float: left;
    line-height: 120px;
}
.ddh span{
    font-size: 36px;
}
.hao{
    width: 48%;
    height: 120px;
    line-height: 120px;
    text-align: right;
    float: left;
    margin-right: 2%;
}
.hao span{
    font-size: 36px;
}

.center{
    width: 100%;
    background-color: #fff;
    margin-top: 12px;
}
.center2{
    width: 97%;
    margin-left: 1.5%;
}
.jin{
    width: 100%;
    height: 96px;
    line-height: 96px;
    border-bottom: 1.2px solid #DEDEDE;
}
.jin span{
    font-size: 36px;
    color: #888;
    margin-left: 2%;
}
.yuan{
    width: 100%;
    height: 120px;
    border-bottom: 1.2px solid #DEDEDE;
}
.yj{
    width: 48%;
    height: 120px;
    line-height: 120px;
    margin-left: 2%;
    float: left;
}
.yj span{
    font-size: 36px;
}
.qian{
    width: 48%;
    height: 120px;
    margin-right: 2%;
    float: left;
    line-height: 120px;
    text-align: right;
}
.qian span{
    font-size: 38.4px;
}

.sui{
    width: 100%;
    min-height: 96px;
    border-bottom: 1.2px solid #DEDEDE;
}
.li {
    width: 98%;
    height: 96px;
    margin-left: 2%;
}
.tu{
    width: 5%;
    height: 96px;
    line-height: 96px;
    float: left;
}
.tu img{
    width: 36px;
    height: 36px;
    vertical-align: middle;
}
.jian{
    width: 45%;
    height: 96px;
    line-height: 96px;
    float: left;
}
.jian span{
    font-size: 36px;
}
.jqian{
    width: 48%;
    height: 96px;
    line-height: 96px;
    text-align: right;
    float: left;
    margin-right: 2%;
}
.jqian span{
    font-size: 38.4px;
}
.ying{
    width: 100%;
    height: 144px;
}
.fu{
    width: 48%;
    height: 144px;
    line-height: 144px;
    margin-left: 2%;
    float: left;
}
.fu span{
    font-size: 36px;
}
.fuqian{
    width: 48%;
    height: 144px;
    line-height: 144px;
    text-align: right;
    margin-right: 2%;
    float: left;
}
.fuqian span{
    color: #ffae00;
    font-size: 43.2px;
    font-weight: bolder;
}

.bot{
    width: 100%;
    height: 240px;
    background-color: #fff;
    margin-top: 24px;
}
.bot2{
    width: 97%;
    height: 240px;
    margin-left: 1.5%;
}
.wei{
    width: 100%;
    height: 120px;
    border-bottom: 1.2px solid #DEDEDE;
}
.tu2{
    width: 13%;
    height: 120px;
    line-height: 120px;
    margin-left: 2%;
    float: left;
}
.tu2 img{
    width: 80px;
    height: 80px;
    vertical-align: middle;
}
.xin{
    width: 35%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.xin span{
    font-size: 36px;
}
.fuxuan2{
    width: 10%;
    height: 120px;
    float: left;
    margin-right: 2%;
}

.yue{
    width: 35%;
    height: 120px;
    line-height: 120px;
    float: left;
}
.yue span{
    font-size: 36px;
}
.yuqian{
    width: 38%;
    height: 120px;
    line-height: 120px;
    text-align: right;
    float: left;
}
.yuqian span{
    font-size: 38.4px;
}


.footer{
    width: 100%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    position: fixed;
    bottom: 0;
}
.footer button{
    width: 100%;
    height: 120px;
    background-color: #ffae00;
    color: #fff;
    font-size: 43.2px;
    font-weight: bolder;
}
