<include file="Layout/main"/><header class="navbar-wrapper"></header>
<div class="dislpayArrow hidden-xs">
    <a class="pngfix" href="javascript:;" onclick="displaynavbar(this)"></a>
</div>
<section class="Hui-article-box">
<div id="iframe_box" class="Hui-article">
    <div class="show_iframe">
        <div style="display:none" class="loading">
        </div>
        <!-- 主题内容 -->
        <div>
            <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20"> 
            <span class="l">会员列表

            <!-- <a href="javascript:;" onclick="admin_add('添加轮播图','{:U('Admin/Event/add')}','800','500')"
               class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加轮播图</a> -->
           </span>
            <span class="r">共有数据：<strong>{$num}</strong> 条</span> </div>
        <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-responsive">
            <thead>
                <tr class="text-c">
                    <th width="30">编号</th>
                    <th width="80">商家名称</th>
                    <th width="80">订单号</th>
                    <th width="80">会员名称</th>
                    <th width="40">菜单</th>
                    <th width="60">订座</th>
                    <th width="40">订单总额</th>
                    <th width="40">实付金额</th>
                    <th width="120">订单时间</th>
                    <th width="50">订单状态</th>
                    <th width="80">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="order_info" item="one_order_info" >
                        <tr class="text-c">
                            <td>{$one_order_info.id}</td>
                            <td>{$one_order_info.shop_name}</td>
                            <td>{$one_order_info.order_code}</td>
                            <td>{$one_order_info.buyer_name}</td>
                            <td>
                            <a style="margin-left: -8%;margin-right: 10%;" href="javascript:;"
                                   onclick="admin_add('订单菜品','{:U('Admin/Order/goods_info', array('id' => $one_order_info['id']))}'
                                   ,'800px','500px')">
                                    <i class="Hui-iconfont">&#xe6df;</i>
                                查看</a>
                            </td>
                            <if condition="$one_order_info.is_dz eq 1">
                            <td>已订座</td>
                            <elseif condition="$one_order_info.is_dz eq 0"/>
                            <td>未订座</td>
                            <else />
                            <td>未知</td>
                            </if>
                            <td>{$one_order_info.total_price}</td>
                            <td>{$one_order_info.sf}</td>
                            <td>
                                <div>预点时间:{$one_order_info.add_time}</div>
                                <if condition="$one_order_info.use_time eq '0000-00-00 00:00:00'">
                                <div></div>
                                <else />
                                <div style="color:red">下单时间:{$one_order_info.use_time}</div>
                                </if>
                            </td>


                            <if condition="$one_order_info.order_status eq 1">
                            <td>
                                <span class="label label-danger radius">
                                        <a href="#" style="text-decoration: none;color:#fff;">未支付
                                        </a>
                                </span>
                            </td>
                            <elseif condition="$one_order_info.order_status eq 5"/>
                            <td>
                                <span class="label label-success radius">
                                         <a href="#" style="text-decoration: none;color:#ffae00;">已支付
                                        </a>
                                </span>                          
                                                            
                            </td>
                            <elseif condition="$one_order_info.order_status eq 10"/>
                            <td>
                                <span class="label label-success radius">
                                         <a href="#" style="text-decoration: none;color:#1160BA;">待评价
                                        </a>
                                </span>                          
                                                            
                            </td>
                            <elseif condition="$one_order_info.order_status eq 15"/>
                            <td>
                                <span class="label label-success radius">
                                         <a href="#" style="text-decoration: none;color:#fff;">已完成
                                        </a>
                                </span>                          
                                                            
                            </td>
                            <elseif condition="$one_order_info.order_status eq 20"/>
                            <td>
                                <span class="label label-success radius">
                                         <a href="#" style="text-decoration: none;color:#B300FF;">已退款
                                        </a>
                                </span>                          
                                                            
                            </td>
                            <else />
                            <td>未知</td>
                            </if>

                           
                            <td class="td-manage" style="text-align: center;">
                                <a style="margin-left: -8%;margin-right: 10%;" href="javascript:;"
                                       onclick="admin_add('订单详情','{:U('Admin/Order/order_xq', array('id' => $one_order_info['id']))}'
                                       ,'800px','500px')">
                                        <i class="Hui-iconfont">&#xe6df;</i>
                                    查看订单</a>
                              

                            </td>
                        </tr>
                </foreach>
                
            </tbody>
        </table>
        </div>
    </div>
        </div>
    </div>
</div>
</section>
<script type="text/javascript">
 // 门店列表
    $(document).on("click",".shop",function(){
        //获取对应id
        var uid;
        var uid = $(this).attr('id');
        // 页面跳转
        var url = $(this).attr("name")+"?uid="+uid;
        window.location.replace(url);
    });

        /*删除*/
        // $(document).on("click", '.h-text-sc', function () {
        //     var op_obj = $(this).parents("tr");
        //     var id = $(this).attr('id');
        //     // alert(id);exit;
        //     layer.confirm('确认要删除吗？',function(){
        //         $.ajax({
        //             type:'GET',
        //             dataType: 'json',
        //             url:'{:U("Admin/Event/del")}',
        //             data:{id:id},
        //             success: function (result) {
        //                 if (result.status) {
        //                     layer.msg(result.msg,{icon:1,time:1000});
        //                 } else {
        //                     op_obj.remove();

        //                     layer.msg(result.msg,{icon:0,time:2000});

        //                 }
        //             }
        //         })
        //     });
        // });
    </script>
<include file="Layout/footer"/>