<include file="Layout/main"/><header class="navbar-wrapper"></header>
<div class="dislpayArrow hidden-xs">
    <a class="pngfix" href="javascript:;" onclick="displaynavbar(this)"></a>
</div>
<section class="Hui-article-box">
<div id="iframe_box" class="Hui-article">
    <div class="show_iframe">
        <div style="display:none" class="loading">
        </div>
        <!-- 主题内容 -->
        <div>
            <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
            <a href="javascript:;" onclick="admin_add('添加座位类别','{:U('Admin/Seattype/add',array('id'=>"$id"))}','800px','500px')"
               class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加座位类别</a></span>
            <span class="r">共有数据：<strong>{$info.count}</strong> 条</span> </div>
        <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-responsive">
            <thead>
                <tr class="text-c">
                    <th width="30">编号</th>
                    <th width="30">名称</th>
                    <th width="80">发布状态</th>
                    <th width="60">排序</th>
                    <th width="120">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="data" item="vo" >
                        <tr class="text-c">
                            <td>{$vo.id}</td>
                            <td>{$vo.mingch}</td>
                            <td class="td-status">
                                <if condition="$vo.zhuangt eq 1 ">
                                    <span class="label label-success radius">已发布</span>
                                    <else /> 
                                    <span class="label label-danger radius">未发布</span>
                                </if>
                            </td>
                            <td>{$vo.paix}</td>
                            <td class="td-manage" style="text-align: center;">
                                
                                <a style="margin-left: -8%;margin-right: 10%;" href="javascript:;"
                                   onclick="admin_add('编辑详情','{:U('Admin/Seattype/edit', array('id' => $vo['id']))}'
                                   ,'800px','500px')">
                                    <i class="Hui-iconfont">&#xe6df;</i>
                                </a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="h-text-sc" id="{$vo.id}"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            </td>
                        </tr>
                </foreach>
            </tbody>
        </table>
        </div>
    </div>
        </div>
    </div>
</div>
</section>
<script type="text/javascript">
    $(document).on("change","#choose",function(){
        // $('iframe').attr('src',"{:U('Admin/Index/welcome')}");
        $(".yincangzhuye").click();
        // console.log(aa);
        // alert(aa);
    });
</script>
<script type="text/javascript">
        /*删除*/
        $(document).on("click", '.h-text-sc', function () {
            var op_obj = $(this).parents("tr");
            var id = $(this).attr('id');
            // alert(id);
            layer.confirm('确认要删除吗？',function(){
                $.ajax({
                    type:'POST',
                    dataType: 'json',
                    url:'{:U("Admin/Seattype/delete")}',
                    data:{id:id},
                    success: function (result) {
                        if (result.status) {
                            op_obj.remove();
                            layer.msg(result.msg,{icon:1,time:1000});
                        } else {
                            layer.msg(result.msg,{icon:0,time:2000});
                        }
                    }
                })
            });
        });
    </script>
<include file="Layout/footer"/>