<include file="Layout/headerys"/>
</head>
<body>
<article class="page-container">
<form class="form form-horizontal" id="form-admin-add" action="{:U('Admin/Food/edit')}" method="post" enctype="multipart/form-data">
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="{$data.0.mingch}" placeholder="" id="" name="mingch">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">LOGO：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <div class="uploader-thum-container">
                <img style="width:20%;" src="__PUBLIC__{$data.0.logo}" alt="图片加载中。。。">
                <input type="file" name="logo">
            </div>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>原价：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="{$data.0.jiage}" placeholder="" id="" name="jiage">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>售价：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="{$data.0.jiage}" placeholder="" id="" name="jiage_youhui">
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否发布：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <foreach name="data" item="vo">
            <if condition="$vo.zhuangt eq 1 ">
                        是&nbsp;&nbsp;
            <input type="radio" value="1" name="zhuangt" checked="checked">
                        否&nbsp;&nbsp;
            <input type="radio" value="2" name="zhuangt">
            <else/>
                        是&nbsp;&nbsp;
            <input type="radio" value="1" name="zhuangt">
                        否&nbsp;&nbsp;
            <input type="radio" value="2" name="zhuangt" checked="checked">
            </if>
            </foreach>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类别：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <span class="select-box">
            <select name="food_type" class="select">
                <!-- 查询单条数据 -->
                <foreach name="data" item="votype">
                <!-- 所有类别 -->
                <foreach name="rescaipinlb" item="volb">
                <option value="{$volb.id}" <if condition="$volb['id'] eq $votype['food_type']"> selected="selected" </if>>{$volb.mingch}</option>
                </foreach>
                </foreach>
            </select>
            </span>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>单位：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <span class="select-box">
            <select name="dwid" class="select">
                <!-- 查询单条数据 -->
                <foreach name="data" item="votype">
                <!-- 所有类别 -->
                <foreach name="resdpdw" item="vodw">
                <option value="{$vodw.id}" <if condition="$vodw['id'] eq $votype['dwid']"> selected="selected" </if>>{$vodw.mingch}</option>
                </foreach>
                </foreach>
            </select>
            </span>
        </div>
    </div>
    <!-- 菜品介绍 -->
    <div style="margin-top: 2%;width: 87%;margin-left: 4%;background-color: #F7F7F7;">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2" style="margin-left: -3%;"><b>菜品介绍</b></label>
        </div>
        <div class="row cl" style="margin-left: -5%;">
            <label class="form-label col-xs-4 col-sm-2">食材：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.shicai}" placeholder="" id="" name="shicai">
            </div>
        </div>
        <div class="row cl" style="margin-left: -5%;">
            <label class="form-label col-xs-4 col-sm-2">口感：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.kougan}" placeholder="" id="" name="kougan">
            </div>
        </div>
        <br>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>规格：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <foreach name="data" item="vo">
            <if condition="$vo.guige eq 1 ">
                        有&nbsp;&nbsp;
            <input type="radio" value="1" name="guige" checked="checked">
                        无&nbsp;&nbsp;
            <input type="radio" class="guigeclick" value="2" name="guige">
            <else/>
                        有&nbsp;&nbsp;
            <input type="radio" value="1" name="guige">
                        无&nbsp;&nbsp;
            <input type="radio" class="guigeclick" value="2" name="guige" checked="checked">
            </if>
            </foreach>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">菜品份量：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <foreach name="data1" item="vodata1">
            <if condition="$vodata1['cpfljiage'] eq 0">
            <div style="margin-top: 1%;">
                <input type="checkbox" name="fenliang[{$vodata1['flcode']}]" class="fenliangk" value="{$vodata1['flcode']}"/>&nbsp;&nbsp;{$vodata1['flcode']|flhanzi}&nbsp;&nbsp;
                <span class="fljiagek"><input type="text" name="fljiage[{$vodata1['flcode']}]" value="售价" class="input-text" style="width: 30%;"/></span><br>
            </div>
            <else/>
            <div style="margin-top: 1%;">
                <input type="checkbox" name="fenliang[{$vodata1['flcode']}]" class="fenliangk" value="{$vodata1['flcode']}" checked="checked"/>&nbsp;&nbsp;{$vodata1['flcode']|flhanzi}&nbsp;&nbsp;
                <span class="fljiagek"><input type="text" name="fljiage[{$vodata1['flcode']}]" value="{$vodata1['cpfljiage']}" class="input-text" style="width: 30%;"/></span><br>
            </div>
            </if>
            </foreach>
        </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-2">菜品口味：</label>
        <div class="formControls col-xs-8 col-sm-9">
            <!-- 口味 -->
            <div>
                <!-- 单个 -->
                <span class="kouweik">
                <foreach name="kwid" item="vokwid">
                <span style="margin-right: 5%;">
                <input type="text" class="input-text" value="{$vokwid}" name="kouweishuru[]" maxlength="5" style="width: 20%;">
                <span class="delkouwei" style="margin-left: -5%;color: #ddd; cursor: pointer;">
                <b><i class="Hui-iconfont">&#xe6a6;</i></b>
                </span>
                </span>
                </foreach>
                </span>
                <!-- 添加按钮 -->
                <span id="addkouwei" style="color: #5A98DD;font-size: 20px; cursor: pointer;">
                <b><i class="Hui-iconfont">&#xe604;</i></b>
                </span>
            </div>
        </div>
    </div>
    <!-- 菜品id -->
    <input type="hidden" value="{$data.0.id}" name='id'>
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
            <button onclick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
        </div>
    </div>
</form>
</article>
<script>
//点击添加口味
$(document).on("click", "#addkouwei", function() {
    var dgkw = '<span style="margin-right:5%"><input type="text" class="input-text"  name="kouweishuru[]" value="" style="width:20%"> <span class="delkouwei" style="margin-left:-5%;color:#ddd;cursor:pointer"><b><i class="Hui-iconfont">&#xe6a6;</i></b></span></span>';
    // alert(dgkw);
    $(".kouweik").append(dgkw);
});
// 点击删除口味
$(document).on("click", ".delkouwei", function() {
    $(this).parent().remove();
});
// 复选框勾选添加到隐藏框中 --分量
$('input[name=fenliang]').change(function() {
    $('#Jszzdm').val($('input[name=fenliang]:checked').map(function() {
        return this.value
    }).get().join(','))
})
//规格选无
$(document).on("click", ".guigeclick", function() {
    // 份量变为未选定状态
    $(".fenliangk").attr("checked", false);
    $(".fljiagek").find("input").val("售价");
    //口味 变为无
    $(".kouweik").html('<span style="margin-right:5%"><input type="text" class="input-text"  name="kouweishuru[]" value="" style="width:20%"> <span class="delkouwei" style="margin-left:-5%;color:#ddd;cursor:pointer"><b><i class="Hui-iconfont">&#xe6a6;</i></b></span></span>');
    // alert(123);
});
// input框点击全选
$(document).on("click","input",function(){
    $(this).select();
});
</script>
<include file="Layout/footer"/>