<include file="Layout/headerys"/>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add" action="{:U('Admin/Food/edit')}" method="post" enctype="multipart/form-data">
       <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.mingch}" placeholder="" id="" name="mingch">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">LOGO：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <img style="width:20%;" src="__PUBLIC__{$data.0.logo}" alt="图片加载中。。。">
                    <input type="file" name="logo">
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>价格：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.jiage}" placeholder="" id="" name="jiage">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否发布：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 <foreach name="data" item="vo" >
                    <if condition="$vo.zhuangt eq 1 ">
                        是&nbsp;&nbsp;<input type="radio"  value="1" name="zhuangt" checked="checked">
                        否&nbsp;&nbsp;<input type="radio"  value="2" name="zhuangt">
                        <else />
                        是&nbsp;&nbsp;<input type="radio"  value="1" name="zhuangt">
                        否&nbsp;&nbsp;<input type="radio"  value="2" name="zhuangt" checked="checked">
                    </if>
                </foreach>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类别：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                <select name="food_type" class="select">
                <!-- 查询单条数据 -->
                <foreach name="data" item="votype">
                <!-- 所有类别 -->
                     <foreach name="rescaipinlb" item="volb" >
                        <option value="{$volb.id}" <if condition="$volb['id'] eq $votype['food_type']"> selected="selected" </if>>{$volb.mingch}</option>
                    </foreach>
                </foreach>
                   
                </select>
                </span>
            </div>
        </div>
       <input type="hidden" value="{$data.0.id}" name='id'>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<include file="Layout/footer"/>