<include file="Layout/headerys"/>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add" action="{:U('Admin/Food/editfenliang')}" method="post" enctype="multipart/form-data">
     <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">规格：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 <foreach name="data" item="vo" >
                    <if condition="$vo.guige eq 1 ">
                        有&nbsp;&nbsp;<input type="radio"  value="1" name="guige" checked="checked">
                        无&nbsp;&nbsp;<input type="radio"  value="2" name="guige">
                        <else />
                        有&nbsp;&nbsp;<input type="radio"  value="1" name="guige">
                        无&nbsp;&nbsp;<input type="radio"  value="2" name="guige" checked="checked">
                    </if>
                </foreach>
            </div>
        </div>
         <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">菜品份量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                    <div style="margin-top: 1%;">
                        <input type="checkbox" name="fenliang[1]" value="1" />&nbsp;&nbsp;大&nbsp;&nbsp;
                        <input type="text" name="fljiage[1]" class="input-text" placeholder="售价" style="width: 30%;"/><br>
                    </div>
                    <div style="margin-top: 1%;">
                        <input type="checkbox" name="fenliang[2]" value="2" />&nbsp;&nbsp;中&nbsp;&nbsp;
                        <input type="text" name="fljiage[2]" class="input-text" placeholder="售价" style="width: 30%;"/><br>
                    </div>
                    <div style="margin-top: 1%;">
                        <input type="checkbox" name="fenliang[3]" value="3" />&nbsp;&nbsp;小&nbsp;&nbsp;
                        <input type="text" name="fljiage[3]" class="input-text" placeholder="售价" style="width: 30%;"/><br>
                    </div>
           
            <!-- 真实菜品分量 -->
                <input type="hidden" value="0" name="flid" id="Jszzdm">
                <!-- 分量列表 -->
                <foreach name="rescpfl" item="vofl" key="k">
                <!-- 遍历份量id -->
                    <foreach name="flid" item="voflid">
                    {$vofl['id']}--{$voflid}
                        <if condition="$vofl.id eq $voflid">
                            <div style="margin-top: 1%;">
                                <input type="checkbox" value="{$vofl.id}" name="fenliang" checked="checked">
                                &nbsp;&nbsp;{$vofl.mingch}&nbsp;&nbsp;
                                <input type="text" class="input-text"  placeholder="售价" value="{$vofl.cpfljg}" style="width: 30%;">
                            </div>
                            <?php break;?>
                        <else />
                            <div style="margin-top: 1%;">
                                <input type="checkbox" value="{$vofl.id}" name="fenliang" >
                                &nbsp;&nbsp;{$vofl.mingch}&nbsp;&nbsp;
                                <input type="text" class="input-text"  placeholder="售价" value="{$vofl.cpfljg}" style="width: 30%;">
                            </div>
                        </if>
                    </foreach>
                </foreach>
            </div>
        </div>
         <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">菜品口味：</label>
            <div class="formControls col-xs-8 col-sm-9">
            <!-- 真实菜品口味 -->
                <input type="hidden" value="0" name="kwid" id="kwid">
                <!-- 分量列表 -->
                <foreach name="rescpkw" item="vokw" key="k">
                    <if condition="$vokw.id eq $kwid[$k]">
                    {$vokw.mingch}<input type="checkbox" value="{$vokw.id}" name="kouwei" checked="checked">&nbsp;&nbsp;
                    <else />
                    {$vokw.mingch}<input type="checkbox" value="{$vokw.id}" name="kouwei" >&nbsp;&nbsp;
                    </if>
                </foreach>
            </div>
        </div>
        <!-- 菜品id -->
       <input type="hidden" value="{$cpid}" name='cpid'>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<script>
// 复选框勾选添加到隐藏框中 --分量
  $('input[name=fenliang]').change(function(){
    $('#Jszzdm').val($('input[name=fenliang]:checked').map(function(){return this.value}).get().join(','))
  })

// 复选框勾选添加到隐藏框中 --口味
  $('input[name=kouwei]').change(function(){
    $('#kwid').val($('input[name=kouwei]:checked').map(function(){return this.value}).get().join(','))
  })
  //页面一进来加载事件
  $(document).ready(function(){ 
　　$('#Jszzdm').val($('input[name=fenliang]:checked').map(function(){return this.value}).get().join(','));
    $('#kwid').val($('input[name=kouwei]:checked').map(function(){return this.value}).get().join(','))
　});
</script>
<include file="Layout/footer"/>