<include file="Layout/headerys"/>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add" action="{:U('Admin/Shop/edit')}" method="post" enctype="multipart/form-data">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.mingch}"  name="mingch">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>LOGO：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <img style="width: 10%;" src="__PUBLIC__{$data.0.logo}" alt="图片加载中。。。">
                <div class="uploader-thum-container">
                    <input type="file" name="logo">
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span id="scerweim">二维码：</span></label>
            <div class="formControls col-xs-8 col-sm-9">
                <img src="{$data.0.erweima}" alt="二维码生成中。。。" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">手机号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.tel}" placeholder="" id="" name="tel">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">人均消费：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.maney}" placeholder="" id="" name="maney">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">营业时间：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <select name="time_kai" class="select" style="width: 25%;" id="">
                <!-- 单条信息城市 -->
                <foreach name="data" item="vosscs">
                    <!-- 所有时间 -->
                    <foreach name="restime"  item="votime">
                        <option value="{$votime.name}" <if condition="$votime['id'] eq $vosscs['time_kai']">selected="selected"</if> >{$votime.name}</option>
                    </foreach>
                </foreach>
                </select>
                &nbsp;&nbsp;&nbsp;--&nbsp;&nbsp;&nbsp;&nbsp;
                <select name="time_zhong" class="select" style="width: 25%;" id="">
                    <!-- 单条信息城市 -->
                <foreach name="data" item="vosscs">
                    <!-- 所有时间 -->
                    <foreach name="restime"  item="votime">
                        <option value="{$votime.name}" <if condition="$votime['id'] eq $vosscs['time_zhong']">selected="selected"</if> >{$votime.name}</option>
                    </foreach>
                </foreach>
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属城市：</label>
            <!-- 省 -->
            <div class="formControls col-xs-8 col-sm-9" style="width: 25%;">
                <span class="select-box">
                <select name="depcsjlsheng" class="select"  id="selsheng">
                <!-- 单条信息城市 -->
                <foreach name="data" item="vosscs">
                <!-- 所有城市  市 -->
                    <foreach name="ressheng" item="vocssheng" >
                        <option value="{$vocssheng.code}" <if condition="$vocssheng['code'] eq $vosscs['depcsjlsheng']">selected="selected"</if> >{$vocssheng.name}</option>
                    </foreach>
                </foreach>
                </select>
                </span>
            </div>
            <!-- 市 -->
            <div class="formControls col-xs-8 col-sm-9" style="width: 25%;">
                <span class="select-box">
                <select name="depcsjlshi" class="select"  id="selshi">
                <!-- 单条信息城市 -->
                        <option value="{$data.0.depcsjlshi}">{$data.0.depcsjlshi|depchengshi=###}</option>
                </select>
                </span>
            </div>
                <!-- 区 （县） -->
            <div class="formControls col-xs-8 col-sm-9" id="jlquxianshi" style="width: 25%;">
                <span class="select-box">
                <select name="depcsjlxian" class="select"  id="selqu">
                <!-- 单条信息城市 -->
                        <option value="{$data.0.depcsjlxian}">{$data.0.depcsjlxian|depjilianxian=###}</option>
                </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否发布：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 <foreach name="data" item="vo" >

                <if condition="$vo.zhuangt eq 1 ">
                    
                    是&nbsp;&nbsp;<input type="radio"  value="1" name="zhuangt" checked="checked">
                    否&nbsp;&nbsp;<input type="radio"  value="2" name="zhuangt">
                    <else /> 
                    是&nbsp;&nbsp;<input type="radio"  value="1" name="zhuangt">
                    否&nbsp;&nbsp;<input type="radio"  value="2" name="zhuangt" checked="checked">
                </if>
            </foreach>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否在线：</label>
            <div class="formControls col-xs-8 col-sm-9">
                 <foreach name="data" item="vo" >

                <if condition="$vo.line_type eq 1 ">
                    
                    是&nbsp;&nbsp;<input type="radio"  value="1" name="line_type" checked="checked">
                    否&nbsp;&nbsp;<input type="radio"  value="2" name="line_type">
                    <else /> 
                    是&nbsp;&nbsp;<input type="radio"  value="1" name="line_type">
                    否&nbsp;&nbsp;<input type="radio"  value="2" name="line_type" checked="checked">
                </if>
            </foreach>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类别：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                <select name="type_shop" class="select">
                <!-- 单条信息 -->
                <foreach name="data" item="void">
                <!-- 所有信息 -->
                    <foreach name="rescaipinlb" item="volb">
                         <option value="{$volb.id}"<if condition="$volb['id'] eq $void['type_shop']"> selected="selected" </if>>{$volb.mingch}</option>
                    </foreach>
                    
                </foreach>
                </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">星图表数量：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.xingsl}" placeholder="" id="" name="xingsl">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">详细地址：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.jutidizhi}" placeholder="" id="" name="jutidizhi">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">佣金百分比：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.zuigaolij}" placeholder="" id="zuigaolij" name="zuigaolij">
            </div>
        </div>
        <!-- 隐藏id充当条件 -->
       <input type="hidden" value="{$data.0.id}" name='id'>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>

<script type="text/javascript">
    // 佣金比例
    $(document).on('input',"#zuigaolij",function(){
        var bili = $(this).val();
        if (bili) {
            if (bili < 3) {
                alert("佣金比例 最小为3%");
                $("#zuigaolij").val(3);
            }
        }
        
    });
    // 城市级联 省--》市
    $(document).on('click','#selsheng',function(){
        var codesheng = $(this).val();//获取省对应code
        var str = '';//城市对应区域
        $.ajax({
            type:'post',
            dataType: 'json',
            url:'{:U("Admin/Ajax/shengdoshi")}',
            data:{codesheng:codesheng},
            success: function (dd) {
                console.log(dd);
                // 获取区域名称
                $.each(dd,function(index,item){
                    str += '<option value="'+item.code+'">'+item.name+'</option>'; 
                })
                //赋值区域
                $("#selshi").html(str);
                // 清空区
                $("#jlquxianshi").html("");
            }
        })
    });
    // 城市级联 市--》县/区
    $(document).on('click','#selshi',function(){
        var codesheng = $(this).val();//获取市对应code
        var str = '<span class="select-box"><select name="depcsjlxian"  class="select" id="selqu">';//城市对应区域
        $.ajax({
            type:'post',
            dataType: 'json',
            url:'{:U("Admin/Ajax/index")}',
            data:{codesheng:codesheng},
            success: function (dd) {
                // 获取区域名称
                $.each(dd,function(index,item){
                    str += '<option value="'+item.code+'">'+item.name+'</option>'; 
                })
                str += '</select></span>';
                //赋值区域
                $("#jlquxianshi").html(str);
            }
        })
    });
</script>
<include file="Layout/footer"/>