<include file="Layout/main"/><header class="navbar-wrapper"></header>
<div class="dislpayArrow hidden-xs">
    <a class="pngfix" href="javascript:;" onclick="displaynavbar(this)"></a>
</div>
<section class="Hui-article-box">
<div id="iframe_box" class="Hui-article">
    <div class="show_iframe">
        <div style="display:none" class="loading">
        </div>
        <!-- 主题内容 -->
        <div>
            <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
            <a href="javascript:;" onclick="admin_add('添加门店','{:U('Admin/Shop/add')}','800','500')"
               class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加门店</a></span>
            <span class="r">共有数据：<strong>{$info.count}</strong> 条</span> </div>
        <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-responsive">
            <thead>
                <tr class="text-c">
                    <th width="30">编号</th>
                    <th width="80">名称</th>
                    <th width="60">LOGO</th>
                    <!-- <th width="80">手机号123</th> -->
                    <!-- <th width="60">人均消费123</th> -->
                    <!-- <th width="80">营业时间123</th> -->
                    <th width="80">所属城市</th>
                    <th width="60">门店类别</th>
                    <th width="40">星数量</th>
                    <!-- <th width="60">详细地址123</th> -->
                    <th width="60">优惠卷</th>
                    <th width="60">认证状态</th>
                    <th width="120">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="resshop" item="vo" >
                        <tr class="text-c">
                            <td>{$vo.id}</td>
                            <td>{$vo.mingch}</td>
                            <td><img style="width: 20%;"src="__PUBLIC__{$vo.logo}" alt="图片加载中。。。"></td>
                            <!-- <td>{$vo.tel}</td> -->
                            <!-- <td>{$vo.maney}</td> -->
                            <!-- <td>{$vo.time_kai}--{$vo.time_zhong}</td> -->
                            <td>{$vo.depcsjlshi|depchengshi=###}</td>
                            <td>{$vo.type_shop|shoptype=###}</td>
                            <td>{$vo.xingsl}</td>
                            <!-- <td>{$vo.jutidizhi}</td> -->
                            <td class="td-status">
                                <if condition="$vo.juan eq 1 ">
                                    <span class="label label-success radius">
                                        <a href="{:U('Admin/Sale/index',array('menid' => $vo['id'],'type'=>1))}" style="text-decoration: none;color:#fff;">有{$vo.id|youhuishul=###}
                                        </a>
                                    </span> 
                                    <else /> 
                                    <span class="label label-danger radius">
                                         <a href="{:U('Admin/Sale/index',array('menid' => $vo['id'],'type'=>2))}" style="text-decoration: none;color:#fff;">添加{$vo.id|youhuishul=###}
                                        </a>
                                    </span>
                                </if>
                            </td>
                            <td class="td-status">
                                <if condition="$vo.zhuangt eq 1 ">
                                    <span class="label label-success radius">已发布</span>
                                    <else /> 
                                    <span class="label label-danger radius">未发布</span>
                                </if>
                            </td>
                            <td class="td-manage" style="text-align: center;">
                                
                                <a href="{:U('Admin/Food/index',array('menid' => $vo['id'],'id' => $chengshiid))}" style="text-decoration: none;">
                                   
                                    &nbsp;&nbsp;菜品&nbsp;&nbsp;
                                </a>
                                <a href="{:U('Admin/Foodtype/index',array('menid' => $vo['id'],'id' => $chengshiid))}" style="text-decoration: none;">
                                   
                                    菜品类别&nbsp;&nbsp;
                                </a>
                                <br>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a style="margin-left: -8%;margin-right: 10%;" href="javascript:;"
                                   onclick="admin_add('详情','{:U('Admin/Shop/xiangqing', array('id' => $vo['id']))}'
                                   ,'800','500')">
                                    <i class="Hui-iconfont">&#xe627;</i>
                                </a>&nbsp;&nbsp;&nbsp;
                                <a style="margin-left: -8%;margin-right: 10%;" href="javascript:;"
                                   onclick="admin_add('编辑','{:U('Admin/Shop/edit', array('id' => $vo['id']))}'
                                   ,'800','500')">
                                    <i class="Hui-iconfont">&#xe6df;</i>
                                </a>&nbsp;
                                <a class="h-text-sc" id="{$vo.id}"><i class="Hui-iconfont">&#xe6e2;</i></a>
                            </td>
                        </tr>
                </foreach>
                
            </tbody>
        </table>
        </div>
    </div>
        </div>
    </div>
</div>
</section>
<script type="text/javascript">
        /*删除*/
        $(document).on("click", '.h-text-sc', function () {
            var op_obj = $(this).parents("tr");
            var id = $(this).attr('id');
            // alert(id);
            layer.confirm('确认要删除吗？',function(){
                $.ajax({
                    type:'POST',
                    dataType: 'json',
                    url:'{:U("Admin/Shop/delete")}',
                    data:{id:id},
                    success: function (result) {
                        if (result.status) {
                            op_obj.remove();
                            layer.msg(result.msg,{icon:1,time:1000});
                        } else {
                            layer.msg(result.msg,{icon:0,time:2000});
                        }
                    }
                })
            });
        });
    </script>
<include file="Layout/footer"/>