<include file="Layout/main"/><header class="navbar-wrapper"></header>
<div class="dislpayArrow hidden-xs">
    <a class="pngfix" href="javascript:;" onclick="displaynavbar(this)"></a>
</div>
<section class="Hui-article-box">
<div id="iframe_box" class="Hui-article">
    <div class="show_iframe">
        <div style="display:none" class="loading">
        </div>
        <!-- 主题内容 -->
        <div>
            <div class="page-container">
        <div class="cl pd-5 bg-1 bk-gray mt-20"> <!-- <span class="l">
            <a href="javascript:;" onclick="admin_add('添加门店','{:U('Admin/Shop/add')}','800px','500px')"
               class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加门店</a></span>
            <span class="r">共有数据：<strong>{$info.count}</strong> 条</span> --> 商家入驻申请</div>
        <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-responsive">
            <thead>
                <tr class="text-c">
                    <th width="30">编号</th>
                    <th width="80">名称</th>
                    <th width="80">所属城市</th>
                    <th width="80">联系人</th>
                    <th width="80">联系人电话</th>
                    <th width="80">认证时间</th>
                    <th width="60">认证状态</th>
                    <th width="120">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="resshop" item="vo" >
                        <tr class="text-c">
                            <td>{$vo.id}</td>
                            <td>{$vo.mingch}</td>
                            <td>{$vo.depcsjlshi|depchengshi=###}</td>
                            <td>{$vo.lianxiren}</td>
                            <td>{$vo.tel}</td>
                            <td>{$vo.time_ruzhu}</td>
                            <td class="td-status" style="text-align: center;">
                                <if condition="$vo.zhuangt eq 1 ">
                                    <span class="label label-success radius">
                                        <a  href="javascript:;"
                                   onclick="admin_add('认证','{:U('Admin/Authentica/index', array('mdid' => $vo['id']))}'
                                   ,'800px','500px')" style="text-decoration: none;color:#fff;">已通过</a>
                                    </span>
                                    <elseif condition="$vo.zhuangt eq 2" />
                                    <div style="background-color:#ffae00;color:#fff;width: 47px;margin-left: 35%;border-radius: 10%;"><b>待审核</b></div>
                                    <elseif condition="$vo.zhuangt eq 3" />
                                    <span class="label label-danger radius">驳回中</span>
                                    <elseif condition="$vo.zhuangt eq 4" />
                                    <div style="background-color:#1160BA;color:#fff;width: 47px;margin-left: 35%;border-radius: 10%;"><b>未认证</b></div>
                                    <elseif condition="$vo.zhuangt eq 5" />
                                    <div style="background-color:#B300FF;color:#fff;width: 47px;margin-left: 35%;border-radius: 10%;">
                                        <a  href="javascript:;"
                                   onclick="admin_add('认证','{:U('Admin/Authentica/index', array('mdid' => $vo['id']))}'
                                   ,'800px','500px')" style="text-decoration: none;color:#fff;"><b>已过期</b></a></div>
                                </if>
                            </td>
                            <td class="td-manage" style="text-align: center;">
                                
                                <a  href="javascript:;"
                                   onclick="admin_add('查看商家入驻申请','{:U('Admin/Shop/editruzhu', array('id' => $vo['id']))}'
                                   ,'800px','500px')">
                                    查看
                                </a>
                            </td>
                        </tr>
                </foreach>
                
            </tbody>
        </table>
        </div>
    </div>
        </div>
    </div>
</div>
</section>
<script type="text/javascript">
        /*删除*/
        $(document).on("click", '.h-text-sc', function () {
            var op_obj = $(this).parents("tr");
            var id = $(this).attr('id');
            // alert(id);
            layer.confirm('确认要删除吗？',function(){
                $.ajax({
                    type:'POST',
                    dataType: 'json',
                    url:'{:U("Admin/Shop/delete")}',
                    data:{id:id},
                    success: function (result) {
                        if (result.status) {
                            op_obj.remove();
                            layer.msg(result.msg,{icon:1,time:1000});
                        } else {
                            layer.msg(result.msg,{icon:0,time:2000});
                        }
                    }
                })
            });
        });
    </script>
<include file="Layout/footer"/>