<include file="Layout/headerys"/>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add" action="{:U('Admin/Sale/edit')}" method="post">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.mingch}" placeholder="" id="" name="mingch">
            </div>
        </div>
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>认证状态：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <foreach name="data" item="vo" >
                    <if condition="$vo.zhuangt eq 1 ">
                        是&nbsp;&nbsp;<input type="radio"  value="1" name="zhuangt" checked="checked">
                        否&nbsp;&nbsp;<input type="radio"  value="2" name="zhuangt">
                        <else />
                        是&nbsp;&nbsp;<input type="radio"  value="1" name="zhuangt">
                        否&nbsp;&nbsp;<input type="radio"  value="2" name="zhuangt" checked="checked">
                    </if>
                </foreach>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>排序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$data.0.paix}" placeholder="" id="" name="paix">
            </div>
        </div>
        <!-- 隐藏id充当条件 -->
       <input type="hidden" value="{$data.0.id}" name='id'>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 修改</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<include file="Layout/footer"/>