<include file="Layout/headerys"/>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-article-add" action="{:U('Admin/Event/insert')}" method="post" enctype="multipart/form-data">
    <!-- 对应门店id -->
        <!-- <input type="hidden" name="dep_shop" value="{$id}"> -->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="ename">
            </div>
        </div>
        
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="uploader-thum-container">
                    <div id="fileList" class="uploader-list"></div>
                    <input type="file" name="pic">
                </div>
            </div>
        </div>
        <div class="row cl">
        <!--     <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>价格：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="" name="jiage">
            </div>
        </div> -->
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>&是否发布：</label>
            <div class="formControls col-xs-8 col-sm-9">
                是&nbsp;&nbsp;<input type="radio"  value="0" name="zhuangt" checked="checked">
                否&nbsp;&nbsp;<input type="radio"  value="1" name="status">
            </div>
        </div>
        <!-- <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类别：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                <select name="food_type" class="select">
                    <foreach name="rescaipinlb" item="volb" >
                        <option value="{$volb.id}" >{$volb.mingch}</option>
                    </foreach>
                </select>
                </span>
            </div>
        </div> -->
        
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 添加</button>
                <button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>
<include file="Layout/footer"/>