<include file="Layout/headerys"/>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add"  method="post" enctype="multipart/form-data">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$row.ename}"  id="ename"name="ename">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <img width="100" height="50" src="__PUBLIC__{$row.pic}" alt="图片加载中。。。">
                <div class="uploader-thum-container">
                    <input type="file" name="pic">
                </div>
            </div>
        </div>
        
        
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否发布：</label>
            <div class="formControls col-xs-8 col-sm-9" id="statuss">

                <if condition="$row.status eq 1 ">
                    
                    使用&nbsp;&nbsp;<input type="radio"  value="1" name="status" class= "status" checked="checked">
                    不使用&nbsp;&nbsp;<input type="radio" class= "status" value="0" name="status" >
                    <else /> 
                    使用&nbsp;&nbsp;<input type="radio" class= "status" value="1" name="status" >
                    不使用&nbsp;&nbsp;<input type="radio" class= "status" value="0" name="status" checked="checked">
                </if>
            </div>
        </div>
        

       
        <!-- 隐藏id充当条件 -->
       <input type="hidden" value="{$row.id}" name='id'>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <button  class="edit btn btn-primary radius" id = "{$row.id}"type="submit"><i class="Hui-iconfont ">&#xe632;</i> 修改</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>

<script type="text/javascript">
        /*编辑轮播图*/
        $(document).on("click", '.edit', function () {
            var id = $(this).attr('id');
            var isAutoSend = document.getElementsByName('status');
            var status ;
            for (var i = 0; i < isAutoSend.length; i++) {
                if (isAutoSend[i].checked == true) {
                    var status = isAutoSend[i].value;
                }
            }
            // var status = document.getElementById('statuss').children();
            // alert(status);exit;
            var ename = document.getElementById('ename').value;
            // alert(id);
            // alert(status);
            // alert(ename);
            // exit;

            
                $.ajax({
                    type:'POST',
                    dataType: 'json',
                    url:'{:U("Admin/Event/update")}',
                    data:{id:id,status:status,ename:ename},
                    success: function (result) {
                        // alert(result.status);exit;
                        if (result.status == 1) {
                            // alert(result.status);exit;
                            layer.msg(result.msg,{icon:1,time:1000});
                            layer_close();
                            
                        } else {
                            // op_obj.remove();

                            layer.msg(result.msg,{icon:0,time:2000});
                            // location.reload()


                        }
                    }
                })
        });
    </script>

<script type="text/javascript">
    $(document).on('change','#selsheng',function(){
        var codesheng = $(this).val();//获取市对应code
        var str = '';//城市对应区域
        $.ajax({
            type:'post',
            dataType: 'json',
            url:'{:U("Admin/Ajax/index")}',
            data:{codesheng:codesheng},
            success: function (dd) {
                // 获取区域名称
                $.each(dd,function(index,item){
                    str += '<option value="'+item.code+'">'+item.name+'</option>'; 
                })
                //赋值区域
                $("#selshi").html(str);
            }
        })
    });
</script>
<include file="Layout/footer"/>